<div [formGroup]="form">
  <div class="row">
    <div class="col-md-4">
      <aac-field-container label="SDR ID:">
        <input type="text" tabindex='3' formControlName="id" [(ngModel)]="model.id" type="number">
      </aac-field-container>

    </div>
    <div class="col-md-4">
      <aac-field-container label="Station:">
        <ng-template #customItemTemplate let-model="item" let-index="index">
          <span><b>{{model.stationIATACode}}</b>:{{model.stationDescription}}</span>
        </ng-template>
        <input type="text" tabindex='7' [(ngModel)]="station" autocomplete="off" class="form-control" name="station" id="station"
          maxlength="3" [typeahead]="stations$" typeaheadOptionField="stationIATACode" [typeaheadItemTemplate]="customItemTemplate"
          typeaheadOptionsLimit="10" formControlName="station" [(ngModel)]="model.station" />
      </aac-field-container>
    </div>
    <div class="col-md-4">
      <aac-field-container label="Alert Code:">
        <select tabindex="10" class="form-control" formControlName="alertCode" [(ngModel)]="model.alertCode">
        <option value="">Select Alert Code</option>
        <option *ngFor="let ac of alertCodes$ | async" [value]="ac.code">{{ac.description}}</option>
      </select>
      </aac-field-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <aac-field-container label="SDR #:">
        <input type="text" tabindex='4' formControlName="sdrNumber" [(ngModel)]="model.sdrNumber">
      </aac-field-container>
      <aac-field-container label="Originator:">
        <input type="text" tabindex='5' class="form-control" formControlName="originator" [(ngModel)]="model.originator">
      </aac-field-container>
    </div>
    <div class="col-md-4">
      <aac-field-container label="Department:">
        <select tabindex="8" class="form-control" formControlName="department" [(ngModel)]="model.department">
        <option value="">Select Department</option>
        <option *ngFor="let d of departments$ | async" [value]="d.id">{{d.description}}</option>
      </select>
      </aac-field-container>
    </div>
    <div class="col-md-4">
      <aac-field-container label="ATA Code 1:">
        <select tabindex="11" (change)='getAlertCode2s($event.target.value)' class="form-control" formControlName="ataCode1" [(ngModel)]="model.ataCode1">
        <option value="">Select ATA Code 1</option>
        <option *ngFor="let ac of (ATACodes | uniq:'primaryCode')" [value]="ac.primaryCode">{{ac.primaryCode}} - {{ac.primaryCodeDescription}}</option>
      </select>
      </aac-field-container>
      <aac-field-container label="ATA Code 2:">
        <select tabindex="12" class="form-control" formControlName="ataCode2" [(ngModel)]="model.ataCode2">
        <option value="">Select ATA Code 2</option>
        <option *ngFor="let ac of ataCodes2" [value]="ac.secondaryCode">{{ac.secondaryCode}} {{ac.secondaryCodeDescription}}</option>
      </select>
      </aac-field-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <aac-field-container label="Fleet:">
        <input type="text" tabindex='6' formControlName="fleet" [(ngModel)]="model.fleet">
      </aac-field-container>
    </div>
    <div class="col-md-4">
      <aac-field-container label="Check Type:">
        <select tabindex="9" class="form-control" formControlName="checkType" [(ngModel)]="model.checkType">
        <option value="">Select Check Type</option>
        <option *ngFor="let fc of checkTypes$ | async" [value]="fc.id">{{fc.description}}</option>
      </select>
      </aac-field-container>
    </div>
  </div>
</div>