<div [formGroup]="optionsForm">
  <div class="row  form-group">
    <div class="col-md-4">
      <div class="row form-group">
        <div class="col-sm-8">
          <aac-radio-container label="And">
            <input type="radio" value="true" tabindex="75" formControlName="useAndOperator"/>
          </aac-radio-container>
          <aac-radio-container label="Or">
            <input type="radio" value="false" tabindex="75" formControlName="useAndOperator"/>
          </aac-radio-container>
        </div>
      </div>
    </div>
  </div>
</div>
