<div class="row  form-group">
  <div class="col-md-3">
    <aac-checkbox-container label="Non-CPCP">
      <input type="checkbox" tabindex="28" />
    </aac-checkbox-container>


    
  </div>
  <div class="col-md-3">
    <aac-checkbox-container label="Review Complete">
      <input type="checkbox" tabindex="29" />
    </aac-checkbox-container>

    
  </div>
  <div class="col-md-3">
    <aac-checkbox-container label="Local Corrosion">
      <input type="checkbox" tabindex="30" />
    </aac-checkbox-container>
    
  </div>
  <div class="col-md-3">
    <aac-checkbox-container label="Widespread Corrosion">
      <input type="checkbox" tabindex="31" />
    </aac-checkbox-container>
    </div>
</div>
<div class="row  form-group">
  <div class="col-md-6">
    <div class="row form-group">
      <label class="col-sm-4 control-label">Is CPCP Task # correct?</label>
      <div class="col-sm-8">
        <aac-radio-container label="Yes">
          <input type="radio" value="1" tabindex="32" name="isCpcpTaskNoCorrect"/>
        </aac-radio-container>
        <aac-radio-container label="No">
          <input type="radio" value="0" tabindex="32" name="isCpcpTaskNoCorrect"/>
        </aac-radio-container>

        
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row form-group">
      <label class="col-sm-4 control-label">Is Corrosion Level correct?</label>
      <div class="col-sm-8">
        <aac-radio-container label="Yes">
          <input type="radio" value="1" tabindex="33" name="isCorrosionLevelCorrect" />
        </aac-radio-container>
        <aac-radio-container label="No">
          <input type="radio" value="0" tabindex="33" name="isCorrosionLevelCorrect" />
        </aac-radio-container>

        
      </div>
    </div>
  </div>
</div>
<div class="row  form-group">
  <div class="col-md-6">
    <div class="row form-group">
      <label class="col-sm-4 control-label">Corrected Corrosion Level:</label>
      <div class="col-sm-8">
        <aac-checkbox-list [source]="corrosionLevels$ | async"
                           labelField="description"
                           valueField="id"
                           colClass="col-sm-3"
                           tabindex="34">
        </aac-checkbox-list>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <aac-field-container label="Correct Task #:">
      <input type="text" tabindex='35' class="form-control">
    </aac-field-container>
  </div>
</div>
<aac-field-container label="Reason For Change?:">
  <select class="form-control" multiple tabindex='36'>
    <option *ngFor="let ac of reasonsForChange$ | async" [value]="ac.id">{{ac.description}}</option>
  </select>
</aac-field-container>
<aac-field-container label="Engineering Comments:">
  <input type="text" tabindex='37' class="form-control">
</aac-field-container>
<aac-field-container label="Engineer Signature:" fieldGridColumnWidth="4">
  <input type="text" tabindex='38' class="form-control">
</aac-field-container>

<div class="row  form-group">
  <div class="col-md-12">Custom Searches:</div>
  <div class="col-md-3">
    <aac-radio-container label="All Dispositions">
      <input type="radio" value="1" tabindex="39" name="customSearch" />
    </aac-radio-container>
    <aac-radio-container label="Open Dispositions">
      <input type="radio" value="2" tabindex="39" name="customSearch" />
    </aac-radio-container>
    <aac-radio-container label="Closed Dispositions">
      <input type="radio" value="3" tabindex="39" name="customSearch" />
    </aac-radio-container>

    
  </div>
</div>