<div class="row">
  <div class="col-md-3">
    <aac-field-container label="Aircraft Station:" helptext="(Body, Spar, Stab, Frame, etc.)" labelGridColumnWidth="6" fieldGridColumnWidth="11">
      <input type="text" tabindex='26' class="form-control" >
    </aac-field-container>
  </div>
  <div class="col-md-3">
    <aac-field-container label="Stringer:" labelGridColumnWidth="6" fieldGridColumnWidth="11">
      <input type="text" tabindex='27' class="form-control" >
    </aac-field-container>
  </div>
  <div class="col-md-3">
    <aac-field-container label="WL:" labelGridColumnWidth="6" fieldGridColumnWidth="11">
      <input type="text" tabindex='28' class="form-control">
    </aac-field-container>
  </div>
  <div class="col-md-3">
    <aac-field-container label="BL:"  labelGridColumnWidth="6" fieldGridColumnWidth="11">
      <input type="text" tabindex='28' class="form-control">
    </aac-field-container>
   
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <aac-field-container label="Defect Type:">
      <input type="text" tabindex='45'>
    </aac-field-container>

  </div>
  <div class="col-md-6">
    <aac-field-container label="How Detected:" for="detected" helptext="(Visual, Eddy Current, Ultrasonic, X-Ray, Dye Penetrant, etc.)">
      <select multiple tabindex='15' class="form-control" id="detected" #detected>
        <option *ngFor="let ac of detectionMethods$ | async" [value]="ac.id">{{ac.description}}</option>
      </select>
    </aac-field-container>
  </div>

</div>
<div class="row">
  <div class="col-md-6">
    <h5>Defect Size (in inches):</h5>
    <aac-field-container label="Length:" >
      <input type="text" tabindex='23' class="form-control">
    </aac-field-container>
    <aac-field-container label="Width:" >
      <input type="text" tabindex='24' class="form-control">
    </aac-field-container>
    <aac-field-container label="Depth:"  >
      <input type="text" tabindex='25' class="form-control" >
    </aac-field-container>
  </div>
  </div>