<h1 class="page-header" *ngIf="!sda.id">Create new SDA</h1>
<h1 class="page-header" *ngIf="sda.id">
  Edit/View SDA(SDA ID:{{sda.id}})
  <ng-container *ngIf="original">
    - Original
  </ng-container>
</h1>

<alert type="danger" *ngIf="currentStatus == Status.Rejected">
  <strong class="alert-heading">SDA Form Rejected by Reliability on {{formatDate(sda.statusUpdatedOn)}}</strong>
  <p>{{sda.comments}}</p>
</alert>

<form novalidate [formGroup]="sdaForm">
  <div class="panel panel-info">
    <div class="panel-heading">General Information</div>
    <aa-general-section-form [parent]="sdaForm"
                             [sda]="sda"
                             [newSdaStus]="newSdaStus$ | async"
                             [errorMessages]="displayMessage$ | async"></aa-general-section-form>

    <div class="panel-heading">Description and Location of Defects or Damage</div>
    <aa-defect-location-section-form [parent]="sdaForm"
                                     [sda]="sda"
                                     [newSdaStus]="newSdaStus$ | async"
                                     [errorMessages]="displayMessage$ | async">
    </aa-defect-location-section-form>

    <div class="panel-heading">Corrosion Prevention Control Program</div>

    <aa-cpcp-section-form [parent]="sdaForm"
                          [sda]="sda"
                          [newSdaStus]="newSdaStus$ | async"
                          [errorMessages]="displayMessage$ | async">
    </aa-cpcp-section-form>

    <div class="panel-heading">Corrective Action</div>
    <aa-corrective-action-form [parent]="sdaForm"
                               [sda]="sda"
                               [newSdaStus]="newSdaStus$ | async"
                               [errorMessages]="displayMessage$ | async">
    </aa-corrective-action-form>

    <div class="panel-heading" *ngIf="showRepairDetails()">Repair Details</div>
    <aa-repair-details-section *ngIf="showRepairDetails()"
                               [parent]="sdaForm"
                               [sda]="sda"
                               [newSdaStus]="newSdaStus$ | async"
                               [errorMessages]="displayMessage$ | async">
    </aa-repair-details-section>

    <div class="panel-heading" *ngIf="isDTESectionVisible() | async">Damage Tolerance Evaluation</div>
    <aa-damage-tolerance-evaluation *ngIf="isDTESectionVisible() | async"
                                    [parent]="sdaForm"
                                    [sda]="sda"
                                    [editable]="isDTESectionEditable() | async"
                                    [errorMessages]="displayMessage$ | async">
    </aa-damage-tolerance-evaluation>
    <div class="panel-heading" *ngIf="isCPCPDispositionSectionVisible() | async">CPCP Disposition</div>
    <aa-cpcp-disposition-section *ngIf="isCPCPDispositionSectionVisible() | async"
                                 [parent]="sdaForm"
                                 [sda]="sda"
                                 [editable]="isCPCPDispositionSectionEditable() | async"
                                 [errorMessages]="displayMessage$ | async">
    </aa-cpcp-disposition-section>
    <div class="panel-heading" *ngIf="sda.id">Status History</div>
    <aa-current-status-section *ngIf="sda.id" [parent]="sdaForm"
                               [sda]="sda"
                               [errorMessages]="displayMessage$ | async">
    </aa-current-status-section>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="pull-right hidden-print">
        <a class="btn btn-default btn-lg" [routerLink]="['/alerts']">Cancel</a>
        <a class="btn btn-default btn-lg" *ngIf="hasOriginalVersion()" [routerLink]="['/alerts',sda.id,'original']">View Original</a>
        <a class="btn btn-default btn-lg" *ngIf="original" [routerLink]="['/alerts',sda.id]">View Current</a>
        <!--<button type="button" class="btn btn-default btn-lg" tabindex="114" (click)="location.back()">Cancel</button>-->
        <ng-container *ngIf="!readOnly">

          <ng-container *ngIf="authService.isQCInspector() | async">
            <!--QC Analyst Actions-->
            <button type="button" class="btn btn-default btn-lg" *ngIf="currentStatus == Status.Open || currentStatus == Status.Rejected" tabindex="114" (click)="onReset.emit()">Reset</button>
            <button type="submit" class="btn btn-primary btn-lg" *ngIf="currentStatus == Status.Open || currentStatus == Status.Rejected" (click)="confirmInformation(Status.Complete)" tabindex="114">Complete SDA</button>
            <button type="submit" class="btn btn-primary btn-lg" *ngIf="currentStatus == Status.Open || currentStatus == Status.Rejected" (click)="saveAlert(currentStatus)" tabindex="114">Save SDA Details</button>
          </ng-container>
          <ng-container *ngIf="authService.isQCManager() | async">
            <!--QC Manager/Supervisor Actions-->
            <button type="button" class="btn btn-default btn-lg" *ngIf="currentStatus == Status.Open || currentStatus == Status.Rejected" tabindex="114" (click)="onReset.emit()">Reset</button>
            <button type="submit" class="btn btn-primary btn-lg" *ngIf="(currentStatus == Status.Open || currentStatus == Status.Rejected)" (click)="confirmInformation(Status.Audited)" tabindex="114">Complete SDA</button>
            <button type="submit" class="btn btn-primary btn-lg" *ngIf="currentStatus == Status.Open || currentStatus == Status.Rejected" (click)="saveAlert(currentStatus)" tabindex="114">Save SDA Details</button>
            <button type="submit" class="btn btn-primary btn-lg" *ngIf="currentStatus == Status.Complete" (click)="saveAlert(Status.Audited)" tabindex="114">Complete Audit</button>
            <button type="submit" class="btn btn-primary btn-lg" *ngIf="currentStatus == Status.Complete" (click)="saveAlert(Status.Open)" tabindex="114">Reopen SDA</button>
          </ng-container>
          <ng-container *ngIf="authService.isReliabilityAnalyst() | async">
            <!--Reliability Analyst Actions-->
            <button type="submit" class="btn btn-primary btn-lg" *ngIf="sda.id && (this.currentStatus !== Status.Deleted && this.currentStatus !== Status.Closed)" [disabled]="!canRequestSdr()" (click)="requestSdrNumber()" tabindex="114">Require SDR</button>
            <button type="submit" class="btn btn-danger btn-lg" *ngIf="currentStatus == Status.Audited" (click)="saveAlert(Status.Rejected)" tabindex="114">Reject SDA</button>
            <button type="submit" class="btn btn-success btn-lg" *ngIf="currentStatus == Status.Audited" (click)="saveAlert(Status.Closed)" tabindex="114">Accept SDA</button>
            <button type="submit" class="btn btn-primary btn-lg" *ngIf="currentStatus == Status.Closed" (click)="saveAlert(Status.Open)" tabindex="114">Reopen SDA</button>
          </ng-container>
          <ng-container *ngIf="authService.isCPCPTrainedReviewingEngineer() | async">
            <!--CPCP Engineer Actions-->
            <button type="submit" *ngIf="isCPCPDispositionSectionEditable() | async" class="btn btn-primary btn-lg" (click)="saveCPCPDispositionSection()" tabindex="114">Save CPCP Disposition Details</button>
          </ng-container>
          <ng-container *ngIf="authService.isComplianceEngineer() | async">
            <!--Compliance Engg/Liasion Engg Actions-->
            <button type="submit" *ngIf="isDTESectionEditable() | async" class="btn btn-primary btn-lg" (click)="saveDTESection()" tabindex="114">Save DTE Section Details</button>
          </ng-container>
          <ng-container *ngIf="canArchiveSda() | async">
            <button type="submit" *ngIf="sda.id" class="btn btn-primary btn-lg" (click)="saveAlert(Status.Deleted)" tabindex="114">Delete SDA</button>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

</form>
<div bsModal #statusModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{sdaStatusTitle}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideStatusModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="sdaStatusForm">
          <div class="form-group">
            <label for="completedBy">Completed By:<span class="req">*</span></label>
            <input type="text" id="completedBy" [attr.disabled]="canEditCompletedBy()?null:''" class="form-control" formControlName="completedBy" />
            <div *ngIf="sdaStatusForm.get('completedBy').errors && (sdaStatusForm.get('completedBy').dirty || sdaStatusForm.get('completedBy').touched)" class="error">
              <div [hidden]="!sdaStatusForm.get('completedBy').errors.required">
                Completed By is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label [attr.for]="completedOn.idDatePicker">Completed On:<span class="req">*</span></label>
            <datetime #completedOn [readonly]="canEditCompletedBy()?null:''" formControlName="completedOn" [timepicker]="{showSeconds:false}" [datepicker]="{ icon: 'glyphicon glyphicon-calendar',autoclose:true,enableOnReadonly:false}"></datetime>
            <div *ngIf="sdaStatusForm.get('completedOn').errors && (sdaStatusForm.get('completedOn').dirty || sdaStatusForm.get('completedOn').touched)" class="error">
              <div [hidden]="!sdaStatusForm.get('completedOn').errors.required">
                Completed Date is required.
              </div>
              <div [hidden]="!sdaStatusForm.get('completedOn').errors.future">
                Completed Date can not be a future date.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="comments">{{sdaStatusForm.get('status').value===Status.Deleted ? 'Reason for Deletion':'Comments'}}:<span class="req" *ngIf="sdaStatusForm.get('status').value===Status.Rejected || sdaStatusForm.get('status').value===Status.Deleted">*</span></label>
            <textarea class="form-control" id="comments" [required]="sdaStatusForm.get('status').value===Status.Rejected || sdaStatusForm.get('status').value===Status.Deleted" formControlName="comments"></textarea>
            <div *ngIf="sdaStatusForm.get('comments').errors && (sdaStatusForm.get('comments').dirty || sdaStatusForm.get('comments').touched)" class="error">
              <div [hidden]="!sdaStatusForm.get('comments').errors.required">
                {{sdaStatusForm.get('status').value===Status.Deleted ? 'Reason for Deletion is':'Comments are'}} required.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" (click)="hideStatusModal()">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" [disabled]="!sdaStatusForm.valid" (click)="saveStatusModal()">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

