<form novalidate (submit)="saveAlert()" [formGroup]="sdaForm">
  <div class="panel panel-default">
  <div class="panel-heading">General Information</div>
    <aa-general-section-form
    [parent]="sdaForm"
    [errorMessages]="displayMessage$ | async"
    ></aa-general-section-form>
    <div class="panel-heading">Description and Location of Defects or Damage</div>
    <aa-defect-location-section-form
    [parent]="sdaForm"
    [errorMessages]="displayMessage$ | async"
    ></aa-defect-location-section-form>
    <div class="panel-heading">Corrosion Prevention Control Program</div>
    <aa-cpcp-section-form
    [parent]="sdaForm"
    [errorMessages]="displayMessage$ | async"
    ></aa-cpcp-section-form>
    <div class="panel-heading">Corrective Action</div>
    <aa-corrective-action-form [parent]="sdaForm"
                                [errorMessages]="displayMessage$ | async">
    </aa-corrective-action-form>
    <div class="panel-heading">Current Status</div>
    <aa-current-status-section [parent]="sdaForm"
                                [errorMessages]="displayMessage$ | async">
    </aa-current-status-section>
    <div class="panel-heading">Repair Details</div>
    <aa-repair-details-section [parent]="sdaForm"
                                [errorMessages]="displayMessage$ | async">
    </aa-repair-details-section>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-xs-3 pull-right">
        <button type="submit" class="btn" tabindex="99">Validate</button>
      </div>
    </div>
  </div>

</form>
