<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" />
        <handlers accessPolicy="Read, Script">
            <remove name="StaticFile" />
            <remove name="WebDAV" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Unspecified" requireAccess="Read" />
        </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
        <identity impersonate="false" />
  </system.web>
</configuration>