<h1>Search Filters
  <h5 class="pull-right">
    <a href="" (click)="expandCollapseAll(true)">Expland All</a>
    <a href="" (click)="expandCollapseAll(false)">Collapse All</a>
  </h5>
</h1>
<form novalidate (submit)="searchAlerts()" [formGroup]="sdaSearchForm">
<accordion>
  <accordion-group #dateRangeGroup panelClass="panel-default search-panel">
    <div accordion-heading>
      Search by Date Range
      <i class="pull-right float-xs-right" [ngClass]="{'icon-remove': dateRangeGroup?.isOpen, 'icon-add': !dateRangeGroup?.isOpen}"></i>
    </div>
    <app-search-by-date-range></app-search-by-date-range>
  </accordion-group>
  <accordion-group #sdaFormGroup panelClass="panel-default search-panel">
    <div accordion-heading>
      Search by SDA Form
      <i class="pull-right float-xs-right" [ngClass]="{'icon-remove': sdaFormGroup?.isOpen, 'icon-add': !sdaFormGroup?.isOpen}"></i>
    </div>
    <app-search-by-sda-form>

    </app-search-by-sda-form>
  </accordion-group>
  <accordion-group #aircraftGroup panelClass="panel-default search-panel">
    <div accordion-heading>
      Search by Aircraft
      <i class="pull-right float-xs-right" [ngClass]="{'icon-remove': aircraftGroup?.isOpen, 'icon-add': !aircraftGroup?.isOpen}"></i>
    </div>
    <app-search-by-aircraft></app-search-by-aircraft>
  </accordion-group>
  <accordion-group #maintenanceGroup panelClass="panel-default search-panel">
    <div accordion-heading>
      Search by Maintenance Type
      <i class="pull-right float-xs-right" [ngClass]="{'icon-remove': maintenanceGroup?.isOpen, 'icon-add': !maintenanceGroup?.isOpen}"></i>
    </div>
    <app-search-by-maintenance></app-search-by-maintenance>
  </accordion-group>
  <accordion-group #corrosionGroup panelClass="panel-default search-panel">
    <div accordion-heading>
      Search by Corrosion
      <i class="pull-right float-xs-right" [ngClass]="{'icon-remove': corrosionGroup?.isOpen, 'icon-add': !corrosionGroup?.isOpen}"></i>
    </div>
    <app-search-by-corrosion></app-search-by-corrosion>
  </accordion-group>
  <accordion-group #cpcpDispositionGroup panelClass="panel-default search-panel">
    <div accordion-heading>
      Search by CPCP Disposition
      <i class="pull-right float-xs-right" [ngClass]="{'icon-remove': cpcpDispositionGroup?.isOpen, 'icon-add': !cpcpDispositionGroup?.isOpen}"></i>
    </div>
    <app-search-by-cpcp-disposition></app-search-by-cpcp-disposition>
  </accordion-group>
  <accordion-group #defectGroup panelClass="panel-default search-panel">
    <div accordion-heading>
      Search by Defect
      <i class="pull-right float-xs-right" [ngClass]="{'icon-remove': defectGroup?.isOpen, 'icon-add': !defectGroup?.isOpen}"></i>
    </div>
    <app-search-by-defect></app-search-by-defect>
  </accordion-group>

  
  <accordion-group #correctiveGroup panelClass="panel-default search-panel">
    <div accordion-heading>
      Search by Corrective Action
      <i class="pull-right float-xs-right" [ngClass]="{'icon-remove': correctiveGroup?.isOpen, 'icon-add': !correctiveGroup?.isOpen}"></i>
    </div>
    <app-search-by-corrective-action></app-search-by-corrective-action>
  </accordion-group>
  <accordion-group #statusGroup panelClass="panel-default search-panel">
    <div accordion-heading>
      Search by Status
      <i class="pull-right float-xs-right" [ngClass]="{'icon-remove': statusGroup?.isOpen, 'icon-add': !statusGroup?.isOpen}"></i>
    </div>
    <app-search-by-status></app-search-by-status>
  </accordion-group>
</accordion>
</form>
