<div class="row  form-group">
  <div class="col-md-6">
    <aac-checkbox label="Widespread Corrosion" tabindex="20"></aac-checkbox>
  </div>
  <div class="col-md-6">
    <aac-checkbox label="Corrosion Previously Blended" tabindex="21"></aac-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <aac-field-container label="Corrosion Task #:">
      <input type="text" tabindex='22' class="form-control">
    </aac-field-container>
  </div>
  <div class="col-md-6">
    <div class="row form-group">
      <label class="col-sm-4 control-label">Corrosion Level:</label>
      <div class="col-sm-8">
        <aac-checkbox-list [source]="corrosionLevels$ | async"
                           labelField="description"
                           valueField="id"
                           colClass="col-sm-4"
                           tabindex="23">
        </aac-checkbox-list>
      </div>
    </div>
  </div>
</div>
<div class="row  form-group">
  <div class="col-md-6">
    <div>
      <aac-field-container label="Type of Corrosion:" for="corrosionType">
        <select class="form-control" multiple tabindex='24' id="corrosionType" [(ngModel)]="corrosionType">
          <option *ngFor="let ac of corrosionTypes$ | async" [value]="ac.id">{{ac.description}}</option>
        </select>
        <input type="text" placeholder="Enter other description" tabindex="25" class="form-control" maxlength="250" *ngIf="!hideCorrosionTypeOther()" />
      </aac-field-container>
    </div>

  </div>
  <div class="col-md-6">
    <div>
      <aac-field-container label="Cause of Damage:" for="causeOfDamage">
        <select [(ngModel)]="causeOfDamage" class="form-control" multiple tabindex='26' id="causeOfDamage">
          <option *ngFor="let ac of causeOfDamages$ | async" [value]="ac.id">{{ac.description}}</option>
        </select>
        <input type="text" placeholder="Enter other description" tabindex="27" class="form-control" maxlength="250" *ngIf="!hideCauseOfDamageOther()" />

      </aac-field-container>


    </div>
  </div>
</div>

