<div class="panel-body" [formGroup]="deferredSectionFormGroup">
  <div class="row form-group" >
    <div class="col-md-12">
      <aac-checkbox id="deferred" name="deferredSectionOptions" label="Deferred" value="0" tabindex="17" formControlName="deferredSectionOptions"></aac-checkbox>
    </div>
   

  </div>
  <app-corrective-action-form [parent]="deferredSectionFormGroup"
                                       [errorMessages]="displayMessage">
  </app-corrective-action-form>

  <div class="col-md-12">
    <aac-checkbox id="majorRepair" name="deferredSectionOptions" label="Major Repair" value="1" tabindex="17" formControlName="deferredSectionOptions"></aac-checkbox>
  </div>


  </div>
