<div class="row">
  <div class="col-md-4">
    <aac-field-container label="Aircraft Manufacturer:">
      <input type="text" maxlength="50" tabindex="75">
    </aac-field-container>
  </div>
  <div class="col-md-4">
    <aac-field-container label="Aircraft Model/Series:">
      <input type="text" maxlength="50" tabindex="76">
    </aac-field-container>
  </div>
  <div class="col-md-4">
    <aac-field-container label="Serial #:">
      <input type="text" maxlength="50" tabindex="77">
    </aac-field-container>
  </div>
</div>