<div class="panel-body" [formGroup]="cpcpSectionGroup">
  <div class="row ">
    <div class="col-md-6">
      <div class="row form-group" [class.has-error]="displayMessage.cpcprelated">
        <label class="col-sm-4 control-label">Is this a CPCP related event?</label>
        <div class="col-sm-8">
          <aac-radio name="cpcprelated" label="Yes" value="1" tabindex="36" formControlName="cpcprelated"></aac-radio>
          <aac-radio name="cpcprelated" label="No" value="0" tabindex="36" formControlName="cpcprelated"></aac-radio>
          <div *ngIf="displayMessage.cpcprelated" class="error">{{displayMessage.cpcprelated}}</div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row " [hidden]="cpcpSectionGroup.get('cpcprelated').value !== '1'">
    <div class="col-md-6" [class.has-error]="displayMessage.wsCorrosion">
      <div class="row form-group">
        <label class="col-sm-4 control-label">Widespread Corrosion:<span class="req">*</span></label>
        <div class="col-sm-8">
          <aac-radio name="wsCorrosion" label="Yes" value="0" tabindex="36" formControlName="wsCorrosion"></aac-radio>
          <aac-radio name="wsCorrosion" label="No" value="1" tabindex="36" formControlName="wsCorrosion"></aac-radio>
          <div *ngIf="displayMessage.wsCorrosion" class="error">{{displayMessage.wsCorrosion}}</div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 " [class.has-error]="displayMessage.corrosionLevel">
        <div class="row form-group">
          <label class="col-sm-4 control-label">Corrosion Level:<span class="req">*</span></label>
          <div class="col-sm-8">

            <aac-radio *ngFor="let ac of corrosionLevels$ | async" name="corrosionLevel" [label]="ac.description" [value]="ac.id" tabindex="38"
              formControlName="corrosionLevel"></aac-radio>
            <span *ngIf="displayMessage.corrosionLevel" class="help-block">{{displayMessage.corrosionLevel}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>




  <div class="row" [hidden]="cpcpSectionGroup.get('cpcprelated').value !== '1'">

    <div class="col-md-6">

      <div class="row form-group" [class.has-error]="displayMessage.previouslyBlended">
        <label class="col-sm-4 control-label">Corroded Area Previously Blended:<span class="req">*</span></label>
        <div class="col-sm-8">
          <aac-radio name="previouslyBlended" label="No" value="0" tabindex="39" formControlName="previouslyBlended"></aac-radio>
          <aac-radio name="previouslyBlended" label="No" value="1" tabindex="39" formControlName="previouslyBlended"></aac-radio>
          <div *ngIf="displayMessage.previouslyBlended" class="error">{{displayMessage.previouslyBlended}}</div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="row form-group" [class.has-error]="displayMessage.corrosionTask">
        <label class="col-sm-4 control-label" for="corrosionTask">Corrosion Task #: <span class="req">*</span></label>
        <div class="col-sm-8">
          <input type="text" tabindex='40' class="form-control" id="corrosionTask" formControlName="corrosionTask">
          <span *ngIf="displayMessage.corrosionTask" class="error">{{displayMessage.corrosionTask}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row " [hidden]="cpcpSectionGroup.get('cpcprelated').value !== '1'">
    <div class="col-md-6">
      <div class="row form-group" [class.has-error]="displayMessage.corrosionType">
        <label class="col-sm-4 control-label" for="corrosionType">Type of Corrosion:<span class="req">*</span></label>
        <div class="col-sm-8">
          <select class="form-control" tabindex='41' id="corrosionType" formControlName="corrosionType">
<option *ngFor="let ac of corrosionTypes$ | async" [value]="ac.id">{{ac.description}}</option>
                <!--<option value=""> </option>
                <option value="exfoliation">EXFOLIATION </option>
                <option value="filiform">FILIFORM</option>
                <option value="galvanic">GALVANIC </option>
                <option value="intergranular">INTERGRANULAR</option>
                <option value="other">OTHER</option>-->

              </select>
          <span *ngIf="displayMessage.corrosionType" class="error">{{displayMessage.corrosionType}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div [hidden]="cpcpSectionGroup.get('corrosionType').value !='5' " [class.has-error]="displayMessage.corrosionTypeText">
        <label class="col-sm-4 control-label" for="corrosionTypeText">Description:<span class="req">*</span></label>
        <textarea type="text" tabindex='42' cols="40" rows="5" class="form-control" for="corrosionTypeText" id="corrosionTypeText"
          formControlName="corrosionTypeText">
              </textarea>
        <span *ngIf="displayMessage.corrosionTypeText" class="error">{{displayMessage.corrosionTypeText}}</span>
      </div>
    </div>
  </div>
  <div [hidden]="cpcpSectionGroup.get('cpcprelated').value !== '1'">
    <app-cause-of-damage [parent]="cpcpSectionGroup" [errorMessages]="displayMessage"></app-cause-of-damage>
  </div>
 

  <div class="row">
    <div class="col-md-6">
      <div class="row form-group" [hidden]="cpcpSectionGroup.get('cpcprelated').value !== '1'" [class.has-error]="displayMessage.floorbaordCondition">
        <label class="col-sm-4 control-label" for="floorbaordCondition">
                Floorboard condition after mat is removed:
              </label>
        <div class="col-sm-8">
          <select class="form-control" tabindex='43' id="floorbaordCondition" formControlName="isfloorboardCondition">
                  <option value="wet">WET</option>
                  <option value="dry">DRY</option>
                </select>
          <!--<span *ngIf="displayMessage.floorbaordCondition" class="error">{{displayMessage.floorbaordCondition}}</span>-->
        </div>

      </div>
    </div>
  </div>
</div>
