<h1>Search Results</h1>

<p-dataTable [value]="_sdaList" [lazy]="true" (onLazyLoad)="loadTablePage($event)" [responsive]="true"
      [rows]="defaultPageSize" [totalRecords]="_sdaListTotal" [paginator]="true" [sortField]="defaultSortColumn" [sortOrder]="defaultSortOrder">
    <p-header>SDAs</p-header>
    <p-column field="id" header="SDA ID" [sortable]="true"></p-column>
    <p-column field="aircraftNo" header="Aircraft #" [sortable]="true"></p-column>
    <p-column field="createDate" header="Create Date" [sortable]="true"></p-column>
    <p-column field="statusText" header="Form Status" [sortable]="true"></p-column>
    <p-column field="station" header="Station" [sortable]="true"></p-column>
    <p-column field="routineNo" header="Routine #" [sortable]="true"></p-column>
    <p-column field="nonRoutineNo" header="Non-Routine #" [sortable]="true"></p-column>
</p-dataTable>
<div class="row form-group">
  &nbsp;
</div>