<div class="panel-heading">Description and Location of Defects or Damage</div>
<div class="panel-body" [formGroup]='group'>

<div class="row"  >
  <div class="col-md-6">
    <div class="row form-group" [class.has-error]="displayMessage.defectType">
      <label class="col-sm-4 control-label" for="defectType">Defect Type: <span class="req">*</span></label>
      <div class="col-sm-8">
        <input type="text" tabindex='20' class="form-control" id="defectType"
               formControlName="defectType">
        <span *ngIf="displayMessage.defectType" class="help-block">{{displayMessage.defectType}}</span>
      </div>

    </div>

    <div class="row form-group" [class.has-error]="displayMessage.defectDescription">
      <label class="col-sm-4 control-label" for="defectDescription">Defect Description: <span class="req">*</span></label>
      <div class="col-sm-8">
        <textarea type="text" tabindex='21' name="Text1" cols="40" rows="5"  class="form-control" id="defectDescription"  formControlName="defectDescription">
              </textarea>
        <span *ngIf="displayMessage.defectDescription" class="help-block">{{displayMessage.defectDescription}}</span>
      </div>

    </div>
  </div>
  <h5>Defect Size (in inches):</h5>
  <div class="col-md-6">
    <div class="row form-group" [class.has-error]="displayMessage.length">
      <label class="col-sm-4 control-label" for="length">Length: <span class="req">*</span></label>
      <div class="col-sm-8">
        <input type="text" tabindex='22' class="form-control" id="length" [textMask]="{mask: createNumberMask({
                          prefix:'',
                          allowDecimal: true,
                          includeThousandsSeparator:false,
                          decimalLimit: 3,
                          integerLimit: 3,
                          requireDecimal:false
    })}" formControlName="length">
        <span *ngIf="displayMessage.length" class="help-block">{{displayMessage.length}}</span>
      </div>

    </div>
    <div class="row form-group" [class.has-error]="displayMessage.width">
      <label class="col-sm-4 control-label" for="width">Width #: <span class="req">*</span></label>
      <div class="col-sm-8">
        <input type="text" tabindex='23' class="form-control" id="width" [textMask]="{mask: createNumberMask({
                          prefix:'',
                          allowDecimal: true,
                          includeThousandsSeparator:false,
                          decimalLimit: 3,
                          integerLimit: 3,
                          requireDecimal:false
    })}" formControlName="width">
        <span *ngIf="displayMessage.width" class="help-block">{{displayMessage.width}}</span>
      </div>

    </div>
    <div class="row form-group" [class.has-error]="displayMessage.depth">
      <label class="col-sm-4 control-label" for="depth">Depth #: <span class="req">*</span></label>
      <div class="col-sm-8">
        <input type="text" tabindex='24' class="form-control" id="depth" [textMask]="{mask: createNumberMask({
                          prefix:'',
                          allowDecimal: true,
                          includeThousandsSeparator:false,
                          decimalLimit: 4,
                          integerLimit: 3,
                          requireDecimal:false
    })}" formControlName="depth">
        <span class="help-block">(Example: 6inch Crack: 3X4 Inch Corroded Area,etc.)Any comments after denotes || historical data.</span>
        <span *ngIf="displayMessage.depth" class="help-block">{{displayMessage.depth}}</span>
      </div>
    </div>

  </div>
</div>


<h4>Precise Location of Defect:</h4><h5> (Enter From/To if Applicable)</h5>

<!--<div class="row" formGroupName="percisionLocationGroup">
  <div class="col-md-3">
    <div class="row form-group" [class.has-error]="displayMessage['percisionLocationGroup.stationLocation']">
      <label class="col-sm-4 control-label" for="stationLocation">Station:</label>
      <div class="col-sm-8">
        <input type="text" tabindex='25' class="form-control" id="stationLocation"  formControlName="stationLocation">
        <span *ngIf="displayMessage['percisionLocationGroup.stationLocation']" class="help-block">{{displayMessage[percisionLocationGroup.stationLocation]}}</span>


      </div>
      <h5>(Body, Spar, Stab, etc.)</h5>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row form-group" [class.has-error]="displayMessage['percisionLocationGroup.stringer']">
      <label class="col-sm-4 control-label" for="stringer">Stringer: </label>
      <div class="col-sm-8">
        <input type="text" tabindex='26' class="form-control" id="stringer"  formControlName="stringer">
        <span *ngIf="displayMessage['percisionLocationGroup.stringer']" class="help-block">{{displayMessage[percisionLocationGroup.stringer]}}</span>
      </div>

    </div>
  </div>
  <div class="col-md-3">
    <div class="row form-group" [class.has-error]="displayMessage['percisionLocationGroup.wl']">
      <label class="col-sm-4 control-label" for="wl">WL #: </label>
      <div class="col-sm-8">
        <input type="text" tabindex='27' class="form-control" id="wl"  formControlName="wl">
        <span *ngIf="displayMessage['percisionLocationGroup.wl']" class="help-block">{{displayMessage[percisionLocationGroup.wl]}}</span>
      </div>

    </div>
  </div>
  <div class="col-md-3">
    <div class="row form-group" [class.has-error]="displayMessage['percisionLocationGroup.bl']">
      <label class="col-sm-4 control-label" for="bl">BL #: </label>
      <div class="col-sm-8">
        <input type="text" tabindex='28' class="form-control" id="bl"  formControlName="bl">
        <span *ngIf="displayMessage['percisionLocationGroup.bl']" class="help-block">{{displayMessage[percisionLocationGroup.bl]}}</span>
        <div *ngIf="displayMessage.percisionLocationGroup &&
                            ((sdaForm.get('percisionLocationGroup.stationLocation').touched || sdaForm.get('percisionLocationGroup.stationLocation').dirty) &&
                          (sdaForm.get('percisionLocationGroup.stringer').touched || sdaForm.get('percisionLocationGroup.stringer').dirty) &&
                          (sdaForm.get('percisionLocationGroup.wl').touched || sdaForm.get('percisionLocationGroup.wl').dirty) &&
                            (sdaForm.get('percisionLocationGroup.bl').touched || sdaForm.get('percisionLocationGroup.bl').dirty))
                            " class="error">{{displayMessage.percisionLocationGroup}}</div>
      </div>

    </div>
  </div>
</div>-->

<div class="row">
  <div class="col-md-6">
    <div class="row form-group" [class.has-error]="displayMessage.MFGpart">
      <label class="col-sm-4 control-label" for="MFGpart">MFG Part # </label>
      <div class="col-sm-8">
        <input type="text" tabindex='29' class="form-control" id="MFGpart"  formControlName="MFGpart">
        <span *ngIf="displayMessage.MFGpart" class="help-block">{{displayMessage.MFGpart}}</span>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="row form-group" [class.has-error]="displayMessage.partDefective">
      <label class="col-sm-4 control-label" for="partDefective">Part Defective:<span class="req">*</span> </label>
      <div class="col-sm-8">
        <input type="text" tabindex='30' class="form-control" id="stringer"  formControlName="partDefective">
        <span class="help-block">(Bean, Fitting, Forgiving, etc.)</span>
        <span *ngIf="displayMessage.partDefective" class="help-block">{{displayMessage.partDefective}}</span>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="row form-group" [class.has-error]="displayMessage.MFGserial">
      <label class="col-sm-4 control-label" for="MFGserial">MFG Serial # </label>
      <div class="col-sm-8">
        <input type="text" tabindex='31' class="form-control" id="MFGserial"  formControlName="MFGserial">
        <span *ngIf="displayMessage.MFGserial" class="help-block">{{displayMessage.MFGserial}}</span>
      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="row form-group" [class.has-error]="displayMessage.PartTT">
      <label class="col-sm-4 control-label" for="PartTT">Part TT: </label>
      <div class="col-sm-8">
        <input type="text" tabindex='32' class="form-control" id="PartTT"  formControlName="PartTT">
        <span *ngIf="displayMessage.PartTT" class="help-block">{{displayMessage.PartTT}}</span>
      </div>

    </div>

  </div>

  <div class="col-md-4">
    <div class="row form-group" [class.has-error]="displayMessage.PartTso">
      <label class="col-sm-4 control-label" for="PartTso">Part TSO: </label>
      <div class="col-sm-8">
        <input type="text" tabindex='33' class="form-control" id="PartTso"  formControlName="PartTso">
        <span *ngIf="displayMessage.PartTso" class="help-block">{{displayMessage.PartTso}}</span>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="row form-group" [class.has-error]="displayMessage.detected">
      <label class="col-sm-4 control-label" for="detected">How Detected: <span class="req">*</span></label>
      <div class="col-sm-8">
        <select class="form-control" tabindex='34' id="detected" formControlName="detected">

          <option value=""> </option>
          <option value="unknown">UNKNOWN </option>
          <option value="tapTest">TAP TEST</option>
          <option value="boroscope">BOROSCOPE</option>
          <option value="functionalCheck">FUNCTIONAL CHECK</option>
          <option value="dyePenetrant">DYE PENETRANT</option>
          <option value="eddyCurrent">EDDY CURRENT</option>
          <option value="lightSource">LIGHT SOURCE</option>
          <option value="magneticParticle">MAGNETIC PARTICLE</option>
          <option value="other">OTHER</option>
          <option value="thermal">THERMAL</option>
          <option value="ultrasonic">ULTRASONIC</option>
          <option value="visual">VISUAL</option>
          <option value="magnifiedVisual">MAGNIFIED VISUAL</option>
          <option value="x-ray">X-RAY</option>
          <option value="dyePenetration">DYE PENETRATION</option>
          <option value="hfec">HFEC</option>
        </select>
        <span *ngIf="displayMessage.detected" class="help-block">{{displayMessage.detected}}</span>
        <h5>(visual, Eddy Current, Ultrasonic, X-Ray, Dye Penetrant, etc.)</h5>
      </div>
    </div>
  </div>
</div>

</div>
