<div novalidate [formGroup]="dateRangeForm">
  <div class="row">
    <div class="col-md-6">
      <div>
        <aac-field-container label="SDA Create Date - From:" [attr.for]="fromDate.idDatePicker">
          <datetime [timepicker]="false" #fromDate [tabindex]='13' [datepicker]="{ icon: 'glyphicon glyphicon-calendar',autoclose:true }"
            formControlName="dateFrom"></datetime>
        </aac-field-container>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <aac-field-container label="SDA Create Date - Through:" [attr.for]="toDate.idDatePicker">
          <datetime [timepicker]="false" #toDate [tabindex]='14' [datepicker]="{ icon: 'glyphicon glyphicon-calendar',autoclose:true }"
            formControlName="dateThrough"></datetime>
        </aac-field-container>
      </div>
    </div>
  </div>
</div>
