<div class="row">
  <div class="col-md-6" >
    <div>
      <aac-field-container label="Date - From:"  [attr.for]="fromDate.idDatePicker">
        <datetime [timepicker]="false" #fromDate [tabindex]='1' [datepicker]="{ icon: 'glyphicon glyphicon-calendar' }"></datetime>
      </aac-field-container>
        </div>
      </div>

  <div class="col-md-6">
    <div >
      <aac-field-container label="Date - Through:" [attr.for]="toDate.idDatePicker">
        <datetime [timepicker]="false" #toDate [tabindex]='2' [datepicker]="{ icon: 'glyphicon glyphicon-calendar' }"></datetime>
      </aac-field-container>
      </div>
  </div>
</div>
