  <div class="panel-body" [formGroup]="correctiveActionFormGroup">
    <div class="row form-group">
      <div class="col-md-12">
        <div class="col-md-2">
          <aac-checkbox id="deferred" name="deferredSectionOptions" label="Deferred" value="0" tabindex="55" formControlName="deferredSectionOptions"></aac-checkbox>
        </div>
        <div [hidden]="correctiveActionFormGroup.get('deferredSectionOptions').value != true">
          <div class="col-md-5">
            <div class="row form-group" [class.has-error]="displayMessage.deferralCode">
              <label class="col-sm-4 control-label" for="deferralCode">Enter SCEPTRE Deferral Code:<span class="req">*</span></label>
              <div class="col-sm-8">
                <input type="text" tabindex='56' class="form-control" id="deferralCode" formControlName="deferralCode">
                <span class="help-block">(MON, SAD, ROB, etc)</span>
                <span *ngIf="displayMessage.deferralCode" class="help-block">{{displayMessage.deferralCode}}</span>
              </div>
            </div>

            
          </div>

          <div class="col-md-4">
            <div class="row form-group" [class.has-error]="displayMessage.deferral">
              <label class="col-sm-4 control-label" for="deferral">Deferral #:<span class="req">*</span></label>
              <div class="col-sm-8">
                <input type="text" tabindex='57' class="form-control" id="deferral" formControlName="deferral">
                <span *ngIf="displayMessage.deferral" class="help-block">{{displayMessage.deferral}}</span>
              </div>
            </div>
            

          </div>
        </div>
      </div>
    </div>
  <app-corrective-action-options [parent]="correctiveActionFormGroup" [errorMessages]="displayMessage"></app-corrective-action-options>
   

    <div class="row">
      <div class="col-md-12">
        
          <div class="col-md-2">
            <aac-checkbox id="majorRepair" name="majorRepairOptions" label="Major Repair" value="1" tabindex="70" formControlName="majorRepairOptions"></aac-checkbox>
          </div>
        <div [hidden]="correctiveActionFormGroup.get('majorRepairOptions').value != true">
          <div class="col-md-5">
            
            <div class="row form-group" [class.has-error]="displayMessage.repairDescription">
              <label class="col-sm-4 control-label" for="repairDescription">Description:<span class="req">*</span></label>
              <div class="col-sm-8">
                <textarea tabindex='71' class="form-control" id="repairDescription" formControlName="repairDescription"></textarea>
                <span class="help-block">If major, repair document must be an SRM Reference or a US Airways Engineering Document (EO, EA,etc.) classified as Major.Contact Engineering for assistance if necessary.</span>
                <span *ngIf="displayMessage.repairDescription" class="help-block">{{displayMessage.repairDescription}}</span>
              </div>
            </div>
            

            
          </div>
          </div>
        </div>
  </div>
    </div>
