  <div class="panel-body" [formGroup]="correctiveActionFormGroup">
    <div class="row form-group">
      <div class="col-md-12">
        <div class="col-md-2">
          <aac-checkbox id="deferred" name="deferredSectionOptions" label="Deferred" value="0" tabindex="55" formControlName="deferredSectionOptions"></aac-checkbox>
        </div>
        <div *ngIf="correctiveActionFormGroup.get('deferredSectionOptions').value == true">
          <div class="col-md-5">
            <aac-input tabindex="56" required label="Enter SCEPTRE Deferral Code:" helptext="(MON, SAD, ROB, etc)"[message]="displayMessage.deferralCode" formControlName="deferralCode">
            </aac-input>
          </div>

          <div class="col-md-4">
            <aac-input tabindex="57" required label="Deferral #:" [message]="displayMessage.deferral" formControlName="deferral">
            </aac-input>
          
          </div>
        </div>
      </div>
    </div>
  <app-corrective-action-options [parent]="correctiveActionFormGroup" [errorMessages]="displayMessage"></app-corrective-action-options>
   

    <div class="row">
      <div class="col-md-12">
        
          <div class="col-md-2">
            <aac-checkbox id="majorRepair" name="majorRepairOptions" label="Major Repair" value="1" tabindex="70" formControlName="majorRepairOptions"></aac-checkbox>
          </div>
        <div *ngIf="correctiveActionFormGroup.get('majorRepairOptions').value == true">
          <div class="col-md-5">
            <aac-textarea tabindex="71" required label="Description:" helptext="If major, repair document must be an SRM Reference or a US Airways Engineering Document (EO, EA,etc.) classified as Major.Contact Engineering for assistance if necessary."
                          [message]="displayMessage.repairDescription" formControlName="repairDescription">
            </aac-textarea>
            {{displayMessage.repairDescription}}
            {{correctiveActionFormGroup.get( 'repairDescription').dirty}}
            {{correctiveActionFormGroup.get( 'repairDescription').touched}}
            
          </div>
          </div>
        </div>
  </div>
    </div>
