<div class="panel-body" [formGroup]='formGroup'>
  <div class="row">
    <div class="col-sm-6">

      <aac-field-container label="Damage Type:" [message]="displayMessage.damageType" required="true">
        <select class="form-control" tabindex='26' formControlName="damageType">
          <option value="">Select Damage Type</option>
          <option *ngFor="let ac of damageTypes$ | async" [value]="ac.id">{{ac.description}}</option>
        </select>
      </aac-field-container>
      <aac-field-container label="Damage Description:" required="true" [message]="displayMessage.damageDescription" helptext="(Example: 6 inch Crack: 3X4 inch Corroded Area,etc.) Any comments after || denotes historical data.">
        <textarea type="text" tabindex='27' cols="40" rows="5" class="form-control" formControlName="damageDescription">
        </textarea>
      </aac-field-container>
    </div>

    <div class="col-sm-6">
      <h5>Defect Size (in inches):</h5>
      <aac-field-container label="Length:" [message]="displayMessage.length" required="true">
        <input type="text" tabindex='28' class="form-control" [textMask]="{mask: decimalsNumberMask(3,3)}" formControlName="length">
      </aac-field-container>
      <aac-field-container label="Width:" [message]="displayMessage.width" required="true">
        <input type="text" tabindex='29' class="form-control" [textMask]="{mask: decimalsNumberMask(3,3)}" formControlName="width">
      </aac-field-container>
      <aac-field-container label="Depth:" [message]="displayMessage.depth" required="true" helptext="(If Length, Width, Depth is Null, enter 0.)">
        <input type="text" tabindex='30' class="form-control" [textMask]="{mask: decimalsNumberMask(4,3)}" formControlName="depth">
      </aac-field-container>
    </div>
  </div>
  <aa-precise-location-group [parent]="formGroup" [sda]="sda" [errorMessages]="displayMessage"></aa-precise-location-group>

  <div class="row">
    <div class="col-sm-6">
      <aac-field-container label="MFG Part #:" [message]="displayMessage.manufacturerPartNo">
        <input type="text" tabindex='35' class="form-control" formControlName="manufacturerPartNo">
      </aac-field-container>
    </div>
    <div class="col-sm-6">
      <aac-field-container label="Part Defective:" [message]="displayMessage.partDefective" required="true">
        <input type="text" tabindex='36' class="form-control" formControlName="partDefective">
      </aac-field-container>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <aac-field-container label="MFG Serial #:" [message]="displayMessage.manufacturerSerialNo">
        <input type="text" tabindex='37' class="form-control" formControlName="manufacturerSerialNo">
      </aac-field-container>
    </div>
    <div class="col-sm-4">
      <aac-field-container label="Part TT:" [message]="displayMessage.partTT">
        <input type="text" tabindex='38' class="form-control" formControlName="partTT">
      </aac-field-container>
    </div>


    <div class="col-sm-4">
      <aac-field-container label="Part TSO:" [message]="displayMessage.partTSO">
        <input type="text" tabindex='39' class="form-control" formControlName="partTSO">
      </aac-field-container>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">

      <aac-field-container required="true" label="How Detected:" [message]="displayMessage.detectionMethod" helptext="(Visual, Eddy Current, Ultrasonic, X-Ray, Dye Penetrant, etc.)">
        <select tabindex="40" class="form-control" formControlName="detectionMethod">
          <option value="">Select Detection Method</option>
          <option *ngFor="let ac of detectionMethods$ | async" [value]="ac.id">{{ac.description}}</option>
        </select>
      </aac-field-container>

    </div>
    <div class="col-sm-6">
      <div [hidden]="formGroup.get('detectionMethod').value !=DETECTION_METHOD_OTHER" [class.has-error]="displayMessage.detectionMethodOtherDescription">
        <aac-field-container label="Description:" [required]="formGroup.get('detectionMethod').value == DETECTION_METHOD_OTHER" [message]="displayMessage.detectionMethodOtherDescription">
          <textarea type="text" tabindex='41' cols="40" rows="5" class="form-control" [required]="formGroup.get('detectionMethod').value == DETECTION_METHOD_OTHER" formControlName="detectionMethodOtherDescription"></textarea>
        </aac-field-container>
      </div>
    </div>
  </div>

</div>
