<div class="panel-body" [formGroup]="formGroup">
  <div class="row form-group">
    <div class="col-sm-6">
      <aac-checkbox-container label="Non-CPCP">
        <input type="checkbox" tabindex="99" formControlName="isNonCPCPRelatedEvent" />
      </aac-checkbox-container>

    </div>
  </div>
  <div>
    <div class="row form-group ">
      <div class="col-sm-4">
        <div class="row form-group">
          <label class="col-sm-4 control-label">Is CPCP Task # correct?<span class="req" *ngIf="!isNonCPCPRelatedEvent() && isReviewComplete()">*</span></label>
          <div class="col-sm-8">
            <aac-radio-container label="Yes">
              <input type="radio" [value]="true" tabindex="100" [required]="isReviewComplete()" name="isCorrosionTaskNoCorrect" formControlName="isCorrosionTaskNoCorrect" />
            </aac-radio-container>
            <aac-radio-container label="No">
              <input type="radio" [value]="false" tabindex="100" [required]="isReviewComplete()" name="isCorrosionTaskNoCorrect" formControlName="isCorrosionTaskNoCorrect" />
            </aac-radio-container>
            <div *ngIf="displayMessage.isCorrosionTaskNoCorrect" class="error">{{displayMessage.isCorrosionTaskNoCorrect}}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <aac-field-container [required]="!isNonCPCPRelatedEvent() && isReviewComplete()" label="Corrected CPCP Task #:" [message]="displayMessage.correctedCorrosionTaskNo">
          <input type="text" tabindex='101' [required]="isReviewComplete() && !isCorrosionTaskNoCorrect()" class="form-control" formControlName="correctedCorrosionTaskNo">
        </aac-field-container>
      </div>
    </div>

    <div class="row form-group ">
      <div class="col-sm-4">
        <div class="row form-group">
          <label class="col-sm-4 control-label">Is Corrosion Level correct?<span class="req" *ngIf="!isNonCPCPRelatedEvent() && isReviewComplete()">*</span></label>
          <div class="col-sm-8">
            <aac-radio-container label="Yes">
              <input type="radio" [value]="true" tabindex="102" [required]="isReviewComplete()"  name="isCorrosionLevelCorrect" formControlName="isCorrosionLevelCorrect" />
            </aac-radio-container>
            <aac-radio-container label="No">
              <input type="radio" [value]="false" tabindex="102" [required]="isReviewComplete()" name="isCorrosionLevelCorrect" formControlName="isCorrosionLevelCorrect" />
            </aac-radio-container>
            <div *ngIf="displayMessage.isCorrosionLevelCorrect" class="error">{{displayMessage.isCorrosionLevelCorrect}}</div>
          </div>
        </div>
        <div class="row form-group" [class.has-error]="displayMessage.isWideSpreadCorrosion">
          <label class="col-sm-4 control-label">Widespread Corrosion?<span class="req" *ngIf="!isNonCPCPRelatedEvent() && isReviewComplete()">*</span></label>
          <div class="col-sm-8">
            
            <aac-radio-container label="Yes">
              <input type="radio" [value]="true" tabindex="106" [required]="isReviewComplete()" name="isWideSpreadCorrosion" formControlName="isWideSpreadCorrosion" />
            </aac-radio-container>
            <aac-radio-container label="No">
              <input type="radio" [value]="false" tabindex="106" [required]="isReviewComplete()" name="isWideSpreadCorrosion" formControlName="isWideSpreadCorrosion" />
            </aac-radio-container>
            <div *ngIf="displayMessage.isWideSpreadCorrosion" class="error">{{displayMessage.isWideSpreadCorrosion}}</div>
          </div>
        </div>
      </div>
      <div>
        <div class="col-sm-4 ">
          <div class="row form-group">
            <label class="col-sm-12 control-label">Corrected Corrosion Level:<span class="req" *ngIf="!isNonCPCPRelatedEvent() && isReviewComplete()">*</span></label>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">
              <aac-radio-container *ngFor="let ac of corrosionLevels$ | async" [label]="ac.description">
                <input type="radio" [value]="ac.id" tabindex="103" [required]="isReviewComplete()" name="correctedCorrosionLevel" formControlName="correctedCorrosionLevel" />
              </aac-radio-container>

            </div>
          </div>
          <h2><b>See GPM 09.09 for corrosion level determinations</b></h2>
        </div>
        <div class="col-sm-4">
          <div class="row form-group">
            <label class="col-sm-12 control-label">Reason for level change:<span class="req" *ngIf="!isNonCPCPRelatedEvent() && isReviewComplete() && !isCorrosionLevelCorrect()">*</span></label>
          </div>
          <div class="row form-group">

            <div class="col-sm-12">
              <aac-radio-container *ngFor="let ac of reasons$ | async" [label]="ac.description">
                <input type="radio" [value]="ac.id" tabindex="104" [required]="isReviewComplete() && isCorrosionLevelCorrect() === false"  name="corrosionLevelChangeReason" formControlName="corrosionLevelChangeReason" />
              </aac-radio-container>
              <div *ngIf="displayMessage.corrosionLevelChangeReason" class="error">{{displayMessage.corrosionLevelChangeReason}}</div>
            </div>
          </div>

          <div class="row form-group" *ngIf="formGroup.get('corrosionLevelChangeReason').value == 5">
            <div class="col-sm-12">

              <textarea tabindex='105' [required]="formGroup.get('corrosionLevelChangeReason').value == 5 && isReviewComplete()" cols="40" rows="5" class="form-control" formControlName="corrosionLevelChangeReasonOtherText">
                  </textarea>

              <div *ngIf="displayMessage.corrosionLevelChangeReasonOtherText" class="error">{{displayMessage.corrosionLevelChangeReasonOtherText}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6">
        <aac-field-container label="Engineering Comments:"
                             helptext="(Comments need to be 250 characters or less)"
                             [message]="displayMessage.engineeringComments">
          <textarea tabindex='108' cols="40" rows="5" [required]="(isCorrosionTaskNoCorrect() === false || isCorrosionLevelCorrect() === false) && isReviewComplete()" class="form-control" formControlName="engineeringComments">
        </textarea>
        </aac-field-container>
      </div>
      <div class="col-sm-6">
        <aac-field-container label="QC Feedback:"
                             helptext="(Comments need to be 250 characters or less)"
                             [message]="displayMessage.qcFeedback">
          <textarea tabindex='109' cols="40" [required]="(isCorrosionTaskNoCorrect() === false || isCorrosionLevelCorrect() === false) && isReviewComplete()" rows="5" class="form-control" formControlName="qcFeedback">
        </textarea>
        </aac-field-container>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-6">
      <aac-checkbox-container label="Submit to QC">
        <input type="checkbox" tabindex="112" formControlName="submittedToQC" />
      </aac-checkbox-container>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-2">
      <aac-checkbox-container label="Review Complete">
        <input type="checkbox" tabindex="110" formControlName="isReviewComplete" />
      </aac-checkbox-container>
    </div>
    <div class="col-sm-10">
      <aac-field-container label="" labelGridColumnWidth="1"
                           [message]="displayMessage.reviewer">
        <input type="text" tabindex="111" class="form-control" formControlName="reviewer">
      </aac-field-container>
    </div>

  </div>
  
</div>

