<div [formGroup]="formGroup">

  <ng-template #customAircraftItemTemplate let-model="item" let-index="index">
    <span><b>{{model.noseNumber}}</b>:{{model.model}}</span>
  </ng-template>
  <aac-field-container required="true" label="Aircraft Nose #:" [message]="displayMessage.aircraftNo">
    <div class="input-group">
      <input type="text" autocomplete="off" tabindex='6' class="form-control" required
             [typeahead]="noseNumbers$"
             formControlName="aircraftNo"
             (typeaheadOnSelect)="noseNumberOnSelect($event.value)"
             typeaheadOptionField="noseNumber" [typeaheadItemTemplate]="customAircraftItemTemplate"
             (change)="noseNumberOnSelect($event.target.value)"
             typeaheadOptionsLimit="50" typeaheadMinLength="1"
             >

      <div class="input-group-addon">
        <span class="glyphicon glyphicon-refresh" [class.glyphicon-refresh-animate]="loading$|async" (click)="noseNumberOnSelect(formGroup.get('aircraftNo').value)"></span>
      </div>
    </div>
    <!--<input type="text" class="form-control" autocomplete="off" tabindex='6' formControlName="aircraftNo"/>-->
  </aac-field-container>
  <aac-field-container required="true" label="Aircraft Manufacturer:" [message]="displayMessage.manufacturer">
    <input type="text" tabindex='7' readonly class="form-control" formControlName="manufacturer">
  </aac-field-container>

  <aac-field-container required="true" label="Aircraft Model/Series:" [message]="displayMessage.model">
    <input type="text" tabindex='8' readonly class="form-control" formControlName="model">
  </aac-field-container>

  <aac-field-container required="true" label="Serial #:" [message]="displayMessage.serialNo">
    <input type="text" tabindex='9' readonly class="form-control" formControlName="serialNo">
  </aac-field-container>

  <aac-field-container required="true" label="Total Ship Time:" [message]="displayMessage.totalShipTime">
    <input type="text" tabindex='10' readonly class="form-control" [textMask]="{mask: decimalNumberMask}" formControlName="totalShipTime">
  </aac-field-container>

  <aac-field-container required="true" label="Cycles:" [message]="displayMessage.cycles">
    <input type="text" tabindex='11' readonly class="form-control" [textMask]="{mask: numberMask}" formControlName="cycles">
  </aac-field-container>
  <aac-field-container required="true" label="Fleet:" [message]="displayMessage.fleet">
    <input type="text" tabindex='12' readonly class="form-control" formControlName="fleet">
  </aac-field-container>

</div>
