<div [formGroup]="causeOfDamageDescriptionGroup">
  <label class="col-sm-7 control-label" for="damageDescription">Description:<span class="req">*</span></label>
  <textarea type="text" tabindex='53' class="form-control" id="damageDescription" name="damageDescription" formControlName="damageDescription">
      </textarea>
  <!--<input type="text" tabindex='53' class="form-control" id="damageDescription" name="damageDescription" formControlName="damageDescription"/>-->
  <span *ngIf="displayMessage.damageDescription"
        class="error">{{displayMessage.damageDescription }}</span>
</div>