<div [formGroup]="defectDiscoveredDuringSectionFormGroup">
  <div class="row form-group" [class.has-error]="displayMessage.defectDiscoveredDuring">
    <h4>Defect discovered during:(Check appropriate box and describe)</h4>
    <div class="customComponent" style="padding-left:20px;">
      <div>
        <input type="radio" tabindex='16' id="unscheduledMaintenance" value="0" formControlName="defectDiscoveredDuring">
        <label for="unscheduledMaintenance">
          <span class="control"></span>
          Unscheduled Maintenance
        </label>
      </div>
    </div>
    <div class="customComponent" style="padding-left:20px;">
      <div>
        <input type="radio" tabindex='17' id="scheduledMaintenance" value="1" formControlName="defectDiscoveredDuring">
        <label for="scheduledMaintenance">
          <span class="control"></span>
          Scheduled Maintenance
        </label>
      </div>
    </div>
    <div *ngIf="displayMessage.defectDiscoveredDuring" class="error">{{displayMessage.defectDiscoveredDuring}}</div>
  </div>
  <div formGroupName="unscheduledMaintenanceGroup" [hidden]="defectDiscoveredDuringSectionFormGroup.get('defectDiscoveredDuring').value !== '0'">

    <div class="row form-group" [class.has-error]="displayMessage['unscheduledMaintenanceGroup.description']">
      <label class="col-sm-4 control-label" for="unscheduledDescription">Description:<span class="req">*</span></label>
      <div class="col-sm-8">
        <input type="text" tabindex='18' class="form-control" id="unscheduledDescription"
               formControlName="description">
        (RON,Pilot Report etc.)
        <div *ngIf="displayMessage['unscheduledMaintenanceGroup.description']" class="help-block">{{displayMessage['unscheduledMaintenanceGroup.description']}}</div>

      </div>
    </div>
    <div class="row form-group" [class.has-error]="displayMessage['unscheduledMaintenanceGroup.nonRoutineNo']">
      <label class="col-sm-4 control-label" for="unschNonRoutineNo">Non-Routine #:</label>
      <div class="col-sm-8">
        <input type="text" maxlength="50" class="form-control" tabindex='19' id="unschNonRoutineNo"
               formControlName="nonRoutineNo">
        <span *ngIf="displayMessage['unscheduledMaintenanceGroup.nonRoutineNo']" class="help-block">{{displayMessage['unscheduledMaintenanceGroup.nonRoutineNo']}}</span>
      </div>
    </div>
    <div class="row form-group" [class.has-error]="displayMessage['unscheduledMaintenanceGroup.micNo']">
      <label class="col-sm-4 control-label" for="micNo">MIC #:</label>
      <div class="col-sm-8">
        <input type="text" maxlength="50" class="form-control" tabindex='20' id="micNo"  formControlName="micNo">
        <span *ngIf="displayMessage['unscheduledMaintenanceGroup.micNo']" class="help-block">{{displayMessage['unscheduledMaintenanceGroup.micNo']}}</span>
        <div *ngIf="displayMessage.unscheduledMaintenanceGroup &&
                            ((defectDiscoveredDuringSectionFormGroup.get('unscheduledMaintenanceGroup.micNo').touched || defectDiscoveredDuringSectionFormGroup.get('unscheduledMaintenanceGroup.micNo').dirty) &&
                            (defectDiscoveredDuringSectionFormGroup.get('unscheduledMaintenanceGroup.nonRoutineNo').touched || defectDiscoveredDuringSectionFormGroup.get('unscheduledMaintenanceGroup.nonRoutineNo').dirty))
                            " class="error">
          {{displayMessage.unscheduledMaintenanceGroup}}
        </div>


      </div>
    </div>
  </div>
  <div formGroupName="scheduledMaintenanceGroup" [hidden]="defectDiscoveredDuringSectionFormGroup.get('defectDiscoveredDuring').value !== '1'">

    <div class="row form-group" [class.has-error]="displayMessage['scheduledMaintenanceGroup.checkType']">
      <label class="col-sm-4 control-label" for="checkType">Check Type:<span class="req">*</span></label>
      <div class="col-sm-8">
        <select class="form-control" tabindex='18' id="checkType" formControlName="checkType">
          <option value="">Select Check Type</option>
          <!--<option *ngFor="let fc of fleetCheckTypes$ | async" [value]="fc.Name">{{fc.Name}}</option>-->
          <option>A Check</option>
          <option>B Check</option>
          <option>C Check</option>
        </select>

        <!--<input type="text" #checkType="ngModel" class="form-control" name="checkType" id="checkType" [required]="alert.scheduledMaintenance"
                   [(ngModel)]="alert.checkType"
                   [typeahead]="fleetCheckTypes$"
                   [typeaheadOptionField]="'Name'"
                   [typeaheadMinLength]="0">-->
        <span *ngIf="displayMessage['scheduledMaintenanceGroup.checkType']" class="help-block">{{displayMessage['scheduledMaintenanceGroup.checkType']}}</span>
      </div>
    </div>
    <h5>Generated By Document:</h5>

    <div class="row form-group" [class.has-error]="displayMessage['scheduledMaintenanceGroup.routineNo']">
      <label class="col-sm-4 control-label" for="routineNo">Routine #:</label>
      <div class="col-sm-8">
        <input type="text" maxlength="50" class="form-control" tabindex='19' id="routineNo"  formControlName="routineNo">
        <span *ngIf="displayMessage['scheduledMaintenanceGroup.routineNo']" class="help-block">{{displayMessage['scheduledMaintenanceGroup.routineNo']}}</span>
      </div>
    </div>
    <div class="row form-group" [class.has-error]="displayMessage['scheduledMaintenanceGroup.nonRoutineNo']">
      <label class="col-sm-4 control-label" for="nonRoutineNo">Non-Routine #:</label>
      <div class="col-sm-8">
        <input type="text" maxlength="50" class="form-control" tabindex='20' id="nonRoutineNo"  formControlName="nonRoutineNo" />

        <span *ngIf="displayMessage['scheduledMaintenanceGroup.nonRoutineNo']" class="help-block">{{displayMessage['scheduledMaintenanceGroup.nonRoutineNo']}}</span>
        <div *ngIf="displayMessage.scheduledMaintenanceGroup &&
                            ((defectDiscoveredDuringSectionFormGroup.get('scheduledMaintenanceGroup.routineNo').touched || defectDiscoveredDuringSectionFormGroup.get('scheduledMaintenanceGroup.routineNo').dirty) &&
                            (defectDiscoveredDuringSectionFormGroup.get('scheduledMaintenanceGroup.nonRoutineNo').touched || defectDiscoveredDuringSectionFormGroup.get('scheduledMaintenanceGroup.nonRoutineNo').dirty))
                            " class="error">{{displayMessage.scheduledMaintenanceGroup}}</div>

      </div>
    </div>
  </div>
</div>
