<div [formGroup]="unscheduledMaintenanceGroup">
  <aac-input tabindex="18" required helptext="(RON,Pilot Report etc.)" label="Description:" [message]="displayMessage.description" formControlName="description">
  </aac-input>
  <aac-input tabindex="19" label="Non-Routine #:" [message]="displayMessage.nonRoutineNo" formControlName="nonRoutineNo">
  </aac-input>
  <aac-input tabindex="20" label="MIC #:" [message]="displayMessage.micNo" formControlName="micNo">
  </aac-input>
  <div class="row form-group">
    <div class="col-md-offset-4 col-sm-8">
      <span *ngIf="displayMessage.message &&
                (unscheduledMaintenanceGroup.get('micNo').touched ||
                unscheduledMaintenanceGroup.get('micNo').dirty)" class="error">
          {{displayMessage.message}}
        </span>
    </div>
  </div>
</div>
