<h1 class="page-header">
    About
  </h1>
  <div class="container" *ngIf="appVersion$ | async; let appVersion">
  <div class="row">
       <div class="col-md-2">
       <b>Version:</b>
       </div>
       <div class="col-md-2">
         {{appVersion?.version}}
       </div>
  </div>
  <div class="row">
       <div class="col-md-2">
       <b>Last Updated:</b>
       </div>
       <div class="col-md-2">
         {{appVersion?.lastUpdated}}
       </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
      <b>Builds:</b>
      <br>
      {{appVersion?.uiBuildNo}}

      <br>
      {{appVersion?.apiBuildNo}}
      <br>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br><br><br><br>
  <div class="row text-left">
    <b>
      Please call the Help Desk (ITHD- {{appVersion?.itdContactNo}}) if you have an urgent problem with the website.
    </b>
  </div>
</div>

