<h1 class="page-header">
    About
  </h1>
  <div class="container">
  <div class="row">
       <div class="col-md-2">
       <b>Version:</b>
       </div>
       <div class="col-md-2">
        1.3.0
       </div>

  </div>
  <div class="row">
       <div class="col-md-2">
       <b>Last Updated:</b>
       </div>
       <div class="col-md-2">
          July 30, 2018
       </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-2">
       <b>Builds:</b>
       <br>
       HSDA-UI.20180730.2
       <br>
       HSDA-API.20180727.1
       <br>

       </div>
  </div>
  <br>
  <br>
  <br>
  <br><br><br><br>
  <div class="row text-left">
    <b>Please call the Help Desk (ITHD- 480-693-6029) if you have an urgent problem with the website.
      </b>
  </div>
</div>

