<div class="panel-body">
  <table class="table">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Status
        </th>
        <th>
          Completed By
        </th>
        <th>
          Completed On
        </th>
        <th>
          Comments
        </th>
      </tr>
    </thead>
    <!---->
    <tbody>
      <tr *ngFor="let stat of sda.history;let i=index"
          [ngClass]="{'active':stat.status==1,
    'info':stat.status==2,
    'warning':stat.status==4,
    'success':stat.status==8,
    'danger':stat.status==16
    }"
          >
        <td>
          {{i+1}}
        </td>
        <td>
          {{stat.statusText}}
        </td>
        <td>
          {{stat.statusUpdatedBy}}
        </td>
        <td>
          {{stat.statusUpdatedOn}}
        </td>
        <td>{{stat.comments}}</td>
      </tr>
    </tbody>
  </table>



</div>
