<div class="panel-body">
  <table class="table">
    <thead>
      <tr>
        <th style="width:5%">
          #
        </th>
        <th style="width:10%">
          Status
        </th>
        <th style="width:20%">
          Completed By
        </th>
        <th style="width:20%">
          Completed On
        </th>
        <th>
          Comments
        </th>
        <th>
        </th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <!---->
    <tbody>
      <tr *ngFor="let stat of sda.history;let i=index"
          [ngClass]="{'active':stat.status==1,
    'info':stat.status==2,
    'warning':stat.status==4,
    'success':stat.status==8,
    'danger':stat.status==16
    }"
          >
        <td>
          {{i+1}}
        </td>
        <td>
          {{stat.statusText}}
        </td>
        <td>
          {{stat.statusUpdatedBy}}
        </td>
        <td>
          {{formatDate(stat.statusUpdatedOn)}}
        </td>
        <td>{{stat.comments}}</td>
        <td>
        <div *ngIf="stat.version>1">
            <a title='Change Log' (click)="showModal(sda.id, stat.version);" href="javascript:void(0)" class="pull-left" >Change Log</a>

        <!-- <button type="button" class="btn btn-default" ng-click="showModal(sda.id, stat.version); ">Change Log</button> -->
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div bsModal #statusModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
   <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title pull-left">Change Log: SDA ID {{sda.id}}</h4>

      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Field</th>
              <th>Old Value</th>
              <th>New Value</th>
              <th>Changed On</th>
              <th>Changed By</th>
            </tr>
          </thead>
          <tbody >
              <tr *ngFor="let change of changeLog$ | async">
                <td >
                    {{this.changeLogDisplayAttribute(change.attributeName)}}
                </td>
                <td>
                    {{change.oldValue}}
                </td>
                <td>
                    {{change.newValue}}
                </td>
                <td>
                    {{formatDate(change.statusUpdatedOn)}}
                </td>
                <td>
                    {{change.statusUpdatedBy}}
                </td>
              </tr>
            </tbody>
        </table>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" (click)="hideStatusModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

