<h1 id='searchResults'>Search Results

</h1>
<p-dataTable #dataTable [value]="(sdaListResult$ | async).records"
             [totalRecords]="(sdaListResult$ | async).totalRecords"
             [lazy]="true"
             (onLazyLoad)="loadPageOfRecords($event)"
             [responsive]="true"
             [rows]="defaultPageSize"
             [paginator]="true"
             [rowsPerPageOptions]="[5,10,20,50,100]"
             [sortField]="defaultSortColumn"
             [sortOrder]="defaultSortOrder"
             tabindex="162"
             >

  <p-column field="id" header="SDA ID" [sortable]="true">
    <ng-template let-col let-record="rowData" pTemplate="body">
      <a title='Export as PDF' href="" (click)="exportPdf([record[col.field]])"><i class="fa fa-file-pdf-o"></i></a>
      {{record[col.field]}}
    </ng-template>
  </p-column>
  <p-column field="mrtNumber" header="MRT #" [sortable]="true"></p-column>
  <p-column field="aircraftNo" header="AC Nose #" [sortable]="true"></p-column>
  <p-column field="createDate" header="Date" [sortable]="true">
    <ng-template let-col let-record="rowData" pTemplate="body">
      {{record[col.field] | date:'shortDate' }}
    </ng-template>
  </p-column>
  <p-column field="" header="Description" [sortable]="false">
    <ng-template let-col let-record="rowData" pTemplate="body">
    {{record.repairDescriptionTypeDesc || record.defectivePartDescription || record.modifiedPartDescription }}
    </ng-template>
  </p-column>
  <p-column field="repairLocation" header="Location" [sortable]="true"></p-column>
  <p-column field="damageTypeDesc" header="Damage Type" [sortable]="true"></p-column>
  <p-column field="dteRepairStatusDesc" header="Status" [sortable]="true"></p-column>
  <p-column field="dteStatusDesc" header="DTE Status" [sortable]="true"></p-column>
  <ng-template pTemplate="paginatorLeft">
    <span *ngIf="dataTable.totalRecords">
      Showing {{dataTable.first+1}} to {{Math.min(dataTable.first+dataTable.rows,dataTable.totalRecords)}} of {{dataTable.totalRecords}}
    </span>
  </ng-template>

</p-dataTable>
<div class="row form-group">
  <button type="submit" class="btn btn-primary" (click)="exportPdf([])" >View All MRR's</button>
</div>
