<div [formGroup]="preciseLocationGroup">
  <h4>Precise Location of Defect:</h4>
  <h5>(Enter From/To if Applicable)</h5>
  <div class="row">
    <div class="col-md-3">
      <aac-field-container label="Aircraft Station:" [message]="displayMessage.stationLocation"  helptext="(Body, Spar, Stab, Frame, etc.)"  labelGridColumnWidth="6" fieldGridColumnWidth="11">
        <input type="text" tabindex='26' class="form-control" formControlName="stationLocation"  >
      </aac-field-container>
    </div>
    <div class="col-md-3">
      <aac-field-container label="Stringer:" [message]="displayMessage.stringer"  labelGridColumnWidth="6" fieldGridColumnWidth="11">
        <input type="text" tabindex='27' class="form-control" formControlName="stringer" >
      </aac-field-container>
    </div>
    <div class="col-md-3">
      <aac-field-container label="WL:" [message]="displayMessage.wl" labelGridColumnWidth="6" fieldGridColumnWidth="11">
        <input type="text" tabindex='28' class="form-control" formControlName="wl"  >
      </aac-field-container>
    </div>
    <div class="col-md-3">
      <aac-field-container label="BL:" [message]="displayMessage.bl" labelGridColumnWidth="6" fieldGridColumnWidth="11">
        <input type="text" tabindex='29' class="form-control" formControlName="bl" >
      </aac-field-container>
      <span *ngIf="displayMessage.message &&
                  (preciseLocationGroup.get( 'bl').touched ||
                   preciseLocationGroup.get('bl').dirty) "
            class="error">{{displayMessage.message}}</span>
    </div>
  </div>
</div>
