<div class="panel-body" [formGroup]="formGroup">
  <div class="row">
    <div class="col-sm-6">
      <div class="row form-group" [class.has-error]="displayMessage.isCPCPRelatedEvent">
        <label class="col-sm-4 control-label">Is this a CPCP related event?<span class="req">*</span></label>
        <div class="col-sm-8">
          <aac-radio-container label="Yes">
            <input type="radio" [value]="true" tabindex="42" [required]="!isSDAOpen()"  formControlName="isCPCPRelatedEvent"/>
          </aac-radio-container>
          <aac-radio-container label="No">
            <input type="radio" [value]="false" tabindex="42" [required]="!isSDAOpen()" formControlName="isCPCPRelatedEvent" />
          </aac-radio-container>
          <div *ngIf="displayMessage.isCPCPRelatedEvent" class="error">{{displayMessage.isCPCPRelatedEvent}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [hidden]="!isCPCPRelatedEvent()">
    <div class="col-sm-6" [class.has-error]="displayMessage.isWideSpreadCorrosion">
      <div class="row form-group">
        <label class="col-sm-4 control-label">Widespread Corrosion:<span class="req">*</span></label>
        <div class="col-sm-8">
          <aac-radio-container label="Yes">
            <input type="radio" [value]="true" tabindex="43" [required]="areCPCPFieldsRequired()" formControlName="isWideSpreadCorrosion" />
          </aac-radio-container>
          <aac-radio-container label="No">
            <input type="radio" [value]="false" tabindex="43" [required]="areCPCPFieldsRequired()" formControlName="isWideSpreadCorrosion" />
          </aac-radio-container>
          <div *ngIf="displayMessage.isWideSpreadCorrosion" class="error">{{displayMessage.isWideSpreadCorrosion}}</div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 " [class.has-error]="displayMessage.corrosionLevel">
        <div class="row form-group">
          <label class="col-sm-4 control-label">Corrosion Level:<span class="req">*</span></label>
          <div class="col-sm-8">

            <aac-radio-container *ngFor="let ac of corrosionLevels$ | async" [label]="ac.description">
              <input type="radio" [value]="ac.id" tabindex="44" [required]="areCPCPFieldsRequired()" formControlName="corrosionLevel" />
            </aac-radio-container>
            <span *ngIf="displayMessage.corrosionLevel" class="help-block">{{displayMessage.corrosionLevel}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>




  <div class="row" [hidden]="!isCPCPRelatedEvent()">

    <div class="col-sm-6">

      <div class="row form-group" [class.has-error]="displayMessage.isPreviouslyBlended">
        <label class="col-sm-4 control-label">Corroded Area Previously Blended:<span class="req">*</span></label>
        <div class="col-sm-8">
          <aac-radio-container label="Yes">
            <input type="radio" [value]="true" tabindex="45" [required]="areCPCPFieldsRequired()" formControlName="isPreviouslyBlended" />
          </aac-radio-container>
          <aac-radio-container label="No">
            <input type="radio" [value]="false" tabindex="45" [required]="areCPCPFieldsRequired()" formControlName="isPreviouslyBlended" />
          </aac-radio-container>
          <div *ngIf="displayMessage.isPreviouslyBlended" class="error">{{displayMessage.isPreviouslyBlended}}</div>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <aac-field-container [required]="true" label="Corrosion Task #:" [message]="displayMessage.corrosionTaskNo" >
        <input type="text" tabindex='46' class="form-control" [required]="areCPCPFieldsRequired()" formControlName="corrosionTaskNo">
      </aac-field-container>
    </div>
  </div>

  <div class="row " [hidden]="!isCPCPRelatedEvent()">
    <div class="col-sm-6">
      <aac-field-container [required]="true" label="Type of Corrosion:" [message]="displayMessage.corrosionType">
        <select class="form-control" tabindex='47' id="corrosionType" [required]="areCPCPFieldsRequired()" formControlName="corrosionType">
          <option value="">Select Type of Corrosion </option>
          <option *ngFor="let ac of corrosionTypes$ | async" [value]="ac.id">{{ac.description}}</option>
        </select>
      </aac-field-container>

    </div>
    <div class="col-sm-5">
      <div [hidden]="formGroup.get('corrosionType').value !='99' " [class.has-error]="displayMessage.corrosionTypeOtherText">
        <aac-field-container label="Description:" [required]="formGroup.get('corrosionType').value ==='99'" [message]="displayMessage.corrosionTypeOtherText">
          <textarea type="text" tabindex='48'cols="40" rows="5" class="form-control" [required]="formGroup.get('corrosionType').value ==='99'" formControlName="corrosionTypeOtherText"></textarea>
        </aac-field-container>
      </div>
    </div>
  </div>
  <div [hidden]="!isCPCPRelatedEvent()">
    <aa-cause-of-damage [parent]="formGroup" [sda]="sda" [newSdaStus]="newSdaStus" [errorMessages]="displayMessage"></aa-cause-of-damage>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <div  [hidden]="!isCPCPRelatedEvent()" [class.has-error]="displayMessage.floorBoardCondition">
        <aac-field-container label="Floorboard condition after mat is removed:" [message]="displayMessage.floorBoardCondition">
          <select class="form-control" tabindex='60' id="floorBoardCondition" formControlName="floorBoardCondition">
            <option value="">Select Floorboard Condition</option>
            <option *ngFor="let ac of floorboardConditions$ | async" [value]="ac.id">{{ac.description}}</option>
          </select>
        </aac-field-container>

      </div>
    </div>
  </div>
</div>
