<div [formGroup]="aircraftForm">

  <div class="row">
    <div class="col-md-6">
      <aac-field-container label="Aircraft Nose #:">
        <input type="text" tabindex='12' formControlName="aircraftNo">
      </aac-field-container>
    </div>
    <div class="col-md-6">
      <aac-field-container label="Aircraft Manufacturer:">
        <input type="text" tabindex='13' formControlName="manufacturer">
      </aac-field-container>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <aac-field-container label="Aircraft Model/Series:">
        <input type="text" tabindex='14' formControlName="model">
      </aac-field-container>
    </div>
    <div class="col-md-6">
      <aac-field-container label="Serial #:">
        <input type="text" tabindex='15' formControlName="serialNo">
      </aac-field-container>
    </div>
  </div>
</div>
