<div [formGroup]="correctiveActionOptionFormGroup">
  <div class="form-group">
    <aac-radio-container label="Defective Part Replaced With Identical Part #">
      <input type="radio" name="repairType" [value]="1" [required]="!isSDAOpen()" tabindex="64" formControlName="repairType" />
    </aac-radio-container>
    <aac-radio-container label="Modified Part # Installed">
      <input type="radio" name="repairType" [value]="2" [required]="!isSDAOpen()" tabindex="64" formControlName="repairType" />
    </aac-radio-container>
    <aac-radio-container label="Repaired (Describe)">
      <input type="radio" name="repairType" [value]="3" [required]="!isSDAOpen()" tabindex="64" formControlName="repairType" />
    </aac-radio-container>
    <div *ngIf="displayMessage.repairType" class="error">{{displayMessage.repairType}}</div>
  </div>

  <div class="row form-group" *ngIf="correctiveActionOptionFormGroup.get('repairType').value ==3">
    <aa-corrective-action-repair-description [parent]="correctiveActionOptionFormGroup"
                                             [sda]="sda" [newSdaStus]="newSdaStus"
                                             [errorMessages]="displayMessage">
    </aa-corrective-action-repair-description>
  </div>

  <div class="row form-group" *ngIf="correctiveActionOptionFormGroup.get('repairType').value ==2">
    <div class="col-sm-12">
      <aa-modified-part-description [parent]="correctiveActionOptionFormGroup" [sda]="sda"
                                    [errorMessages]="displayMessage">
      </aa-modified-part-description>



    </div>
  </div>
  <div class="row form-group" *ngIf="correctiveActionOptionFormGroup.get('repairType').value == 1">
    <div class="col-sm-12">
      <aa-defective-part-description [parent]="correctiveActionOptionFormGroup" [sda]="sda"
                                     [errorMessages]="displayMessage">
      </aa-defective-part-description>
    </div>
  </div>
</div>
