<h2>Save Search Filters</h2>
<accordion>
    <accordion-group #dateRangeGroup panelClass="panel-default search-panel">
        <div accordion-heading>
            Save Search Filters
            <i class="pull-right float-xs-right" [ngClass]="{'icon-remove': dateRangeGroup?.isOpen, 'icon-add': !dateRangeGroup?.isOpen}"></i>
        </div>
        <div class="row form-group" style="padding-top:15px;">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <aac-field-container label="Search Name:">
                    <select class="form-control">
              <option value="" selected></option>
            </select>
                </aac-field-container>
            </div>
            <div class="col-md-2">
                <aac-checkbox-container label="Default Search">
                    <input type="checkbox" />
                </aac-checkbox-container>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-info">Save Current Criteria</button>
            </div>
        </div>
    </accordion-group>
</accordion>