<div bsModal #changeLogModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg" >
   <div class="modal-content" >
     <div class="modal-header">
       <h4 class="modal-title pull-left">Change Log: SDA ID: {{sdaID}}</h4>
     </div>
     <div class="modal-body">
       <table class="table">
         <thead>
           <tr>
             <th class="col-width-14">Field</th>
             <th class="col-width-20">Old Value</th>
             <th class="col-width-20">New Value</th>
             <th class="col-width-23">Changed On</th>
             <th class="col-width-23">Changed By</th>
           </tr>
         </thead>
         <tbody>

          <tr *ngFor="let change of changeLog">
               <td>
                   {{this.changeLogDisplayAttribute(change.attributeName)}}
               </td>
               <td>
                   {{change.oldValue}}
               </td>
               <td>
                   {{change.newValue}}
               </td>
               <td>
                   {{formatDate(change.statusUpdatedOn)}}
               </td>
               <td>
                   {{change.statusUpdatedBy}}
               </td>
             </tr>

           </tbody>
       </table>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" (click)="hideModal()">
         Close
       </button>
     </div>
   </div>
 </div>
</div>
