<div [formGroup]="formGroup">
  
  <h4>Cause of Damage:</h4>
  <div class="row form-group">
    <div class="col-sm-4">
      <aac-checkbox-container label="Environment">
        <input type="checkbox" tabindex="49" formControlName="environment" />
      </aac-checkbox-container>
    </div>
    <div class="col-sm-4">
      <aac-checkbox-container label="Lav/Galley Spill">
        <input type="checkbox" tabindex="50" formControlName="galleySpill" />
      </aac-checkbox-container>
    </div>
    <div class="col-sm-4">
      <aac-checkbox-container label="Blocked Drain">
        <input type="checkbox" tabindex="51" formControlName="blockedDrain" />
      </aac-checkbox-container>
      </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-4">
      <aac-checkbox-container label="Chemical Spill">
        <input type="checkbox" tabindex="52" formControlName="chemicalSpill" />
      </aac-checkbox-container>
    </div>
    <div class="col-sm-4">
      <aac-checkbox-container label="Wet Insulation Blanket">
        <input type="checkbox" tabindex="53" formControlName="wetInsulationBlanket" />
      </aac-checkbox-container>
      </div>
    <div class="col-sm-4">
      <aac-checkbox-container label="Missing/Deteriorated Floorboard Tape">
        <input type="checkbox" tabindex="54" formControlName="missingFloorBoardTape" />
      </aac-checkbox-container>


    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-4">
      <aac-checkbox-container label="Correct Harware Not Installed">
        <input type="checkbox" tabindex="55" formControlName="hardwareNotInstalled" />
      </aac-checkbox-container>
      </div>
    <div class="col-sm-4">
      <aac-checkbox-container label="Deteriorated/Poor Sealing Practices">
        <input type="checkbox" tabindex="56" formControlName="poorSealingPractices" />
      </aac-checkbox-container>


    </div>
    <div class="col-sm-4">
      <aac-checkbox-container label="Missing Corrosion Inhibitor">
        <input type="checkbox" tabindex="57" formControlName="missingCorrosionInhibitor" />
      </aac-checkbox-container>
      </div>

  </div>
  <div class="row">

    <div class="col-sm-4">
      <aac-checkbox-container label="Other">
        <input type="checkbox" tabindex="58" formControlName="damageOther" />
      </aac-checkbox-container>

      
      <div>
        <span *ngIf="displayMessage.message &&
                  (formGroup.get( 'damageOther').touched ||
                   formGroup.get('damageOther').dirty) "
              class="error">{{displayMessage.message}}</span>
      </div>
    </div>
    <div class="col-sm-8">
      <aa-cause-of-damage-description *ngIf="formGroup.get('damageOther').value == true"
                                      [parent]="formGroup"
                                      [sda]="sda"
                                      [errorMessages]="displayMessage">

      </aa-cause-of-damage-description>
    </div>

  </div>
  <br/>

</div>

