<div class="panel-body" [formGroup]="cpcpDispositionSectionFormGroup">
  <div class="row form-group">
    <div class="col-md-6">
      <aac-checkbox-container label="Non-CPCP">
        <input type="checkbox" tabindex="99" formControlName="nonCpcp" />
      </aac-checkbox-container>

    </div>
  </div>
  <div *ngIf="cpcpDispositionSectionFormGroup.get('nonCpcp').value != true">
    <div class="row form-group ">
      <div class="col-md-6">
        <div class="row form-group">
          <label class="col-sm-4 control-label">Is CPCP Task # correct?</label>
          <div class="col-sm-8">
            <aac-radio-container label="Yes">
              <input type="radio" value="1" tabindex="100" name="isCpcpTaskNoCorrect" formControlName="isCpcpTaskNoCorrect"/>
            </aac-radio-container>
            <aac-radio-container label="No">
              <input type="radio" value="0" tabindex="100" name="isCpcpTaskNoCorrect" formControlName="isCpcpTaskNoCorrect"/>
            </aac-radio-container>


          </div>
        </div>
      </div>


      <div class="col-md-6" *ngIf="cpcpDispositionSectionFormGroup.get('isCpcpTaskNoCorrect').value == '0'">
        <app-cpcp-task-description [parent]="cpcpDispositionSectionFormGroup"
                                   [errorMessages]="displayMessage"></app-cpcp-task-description>
      </div>
    </div>

    <div class="row form-group ">
      <div class="col-md-4">
        <div class="row form-group">
          <label class="col-sm-4 control-label">Is Corrosion Level correct?</label>
          <div class="col-sm-8">
            <aac-radio-container label="Yes">
              <input type="radio" value="1" tabindex="101" name="isCorrosionLevelCorrect" formControlName="isCorrosionLevelCorrect" />
            </aac-radio-container>
            <aac-radio-container label="No">
              <input type="radio" value="0" tabindex="101" name="isCorrosionLevelCorrect" formControlName="isCorrosionLevelCorrect" />
            </aac-radio-container>
          </div>
        </div>
        <div class="row form-group" [class.has-error]="displayMessage.localCorrosion">
          <label class="col-sm-4 control-label">Local Corrosion<span class="req">*</span></label>
          <div class="col-sm-8">
            <aac-radio-container label="Yes">
              <input type="radio" value="1" tabindex="103" name="localCorrosion" formControlName="localCorrosion" required />
            </aac-radio-container>
            <aac-radio-container label="No">
              <input type="radio" value="0" tabindex="103" name="localCorrosion" formControlName="localCorrosion" required />
            </aac-radio-container>
            <div *ngIf="displayMessage.localCorrosion" class="error">{{displayMessage.localCorrosion}}</div>
          </div>
        </div>
        <div class="row form-group" [class.has-error]="displayMessage.wsCorrosion">
          <label class="col-sm-4 control-label">Widespread Corrosion<span class="req">*</span></label>
          <div class="col-sm-8">
            <aac-radio-container label="Yes">
              <input type="radio" value="1" tabindex="104" name="wsCorrosion" formControlName="wsCorrosion" />
            </aac-radio-container>
            <aac-radio-container label="No">
              <input type="radio" value="0" tabindex="104" name="wsCorrosion" formControlName="wsCorrosion" />
            </aac-radio-container>
            <div *ngIf="displayMessage.wsCorrosion" class="error">{{displayMessage.wsCorrosion}}</div>
          </div>
        </div>
      </div>
      <!--*ngIf="cpcpDispositionSectionFormGroup.get('isCorrosionLevelCorrect').value == '0'"-->
      <div *ngIf="cpcpDispositionSectionFormGroup.get('isCorrosionLevelCorrect').value == '0'" >
        <div class="col-md-4 " >
          <div class="row form-group">
            <label class="col-sm-4 control-label">Corrosion Level:</label>
            <div class="col-sm-8">
              <aac-radio-container *ngFor="let ac of corrosionLevels$ | async" [label]="ac.description">
                <input type="radio" [value]="ac.id" tabindex="101" name="corrosionLevel" formControlName="corrosionLevel" />
              </aac-radio-container>

            </div>
          </div>
          <h2>See GPM 09.09 for corrosion level determinations</h2>
        </div>
        <div class="col-md-4">
          <div class="row form-group" >
            <label class="col-sm-4 control-label">Reason for level change</label>
            <div class="col-sm-8">
              <aac-radio-container label="Incorrect per Corrosion Level Block Diagram">
                <input type="radio" value="4" tabindex="102" name="reasonsForChange" formControlName="reasonsForChange" />
              </aac-radio-container>
              <aac-radio-container label="Evidence of  a previous blend has been determined">
                <input type="radio" value="3" tabindex="102" name="reasonsForChange" formControlName="reasonsForChange" />
              </aac-radio-container>
              <aac-radio-container label="New limits have been defined">
                <input type="radio" value="2" tabindex="102" name="reasonsForChange" formControlName="reasonsForChange" />
              </aac-radio-container>
              <aac-radio-container label="Pre-blend measurements indicate Level-1; elected to replace part for company convenience">
                <input type="radio" value="1" tabindex="102" name="reasonsForChange" formControlName="reasonsForChange" />
              </aac-radio-container>
              <aac-radio-container label="Other">
                <input type="radio" value="0" tabindex="102" name="reasonsForChange" formControlName="reasonsForChange" />
              </aac-radio-container>
              
                <div *ngIf="cpcpDispositionSectionFormGroup.get('reasonsForChange').value == '0'" >
                 
                          
                    <textarea tabindex='105' cols="40" rows="5" class="form-control" formControlName="reasonsForChangeTextBox">
                  </textarea>

                 
                </div>
           
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6">
        <aac-field-container label="Engineering Comments:"
                             helptext="(Comments need to be 250 characters or less)"
                             [message]="displayMessage.engineeringComments">
          <textarea  tabindex='105' cols="40" rows="5" class="form-control" formControlName="engineeringComments">
        </textarea>
        </aac-field-container>
      </div>
      <div class="col-md-6">
        <aac-field-container label="QC Feedback:"
                             helptext="(Comments need to be 250 characters or less)"
                             [message]="displayMessage.qcFeedback">
          <textarea tabindex='106' cols="40" rows="5" class="form-control" formControlName="qcFeedback">
        </textarea>
        </aac-field-container>
      </div>
    </div>
  </div>
  <div class="row form-group" >
    <div class="col-md-2">
      <aac-checkbox-container label="Review Complete">
        <input type="checkbox" tabindex="107" formControlName="reviewComplete" />
      </aac-checkbox-container>
    </div>
    <div class="col-md-10">
      <aac-field-container label="" labelGridColumnWidth="1"
                           [message]="displayMessage.reviewComplete" >
        <input type="text" tabindex="108" class="form-control" formControlName="reviewComplete" >
      </aac-field-container>
    </div>

  </div>
  <div class="col-md-2">
    <button type="button" tabindex="109" (click)="submitToQc()">Submit to QC</button>
    <button type="button" tabindex="110" (click)="save()">Save</button>
  </div>
    </div>

