<h2>Create new SDA</h2>
<form #form="ngForm" novalidate (submit)="saveAlert(form)">
  <div class="panel panel-default">
    <div class="panel-heading">General Information</div>
    <div class="panel-body">
      <div class="row form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="sdrNumber">SDR Number:</label>
            <div class="contrls col-sm-8">
              <input #sdrNumber="ngModel" type="text" class="form-control" name="sdrNumber" id="sdrNumber" placeholder="" [(ngModel)]="alert.sdrNumber">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label>
        <aac-checkbox [checkboxState]="lineMaintenance" (onChangeNotify)="alert.lineMaintenance=lineMaintenance.isChecked"></aac-checkbox>
            Line Maintenance
        </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="sdaCreateDate">Create Date: <span class="req">*</span></label>
            <div class="col-sm-8">
              <datetime [timepicker]="false" #sdaCreateDate="ngModel" name="sdaCreateDate" id="sdaCreateDate" [(ngModel)]="alert.createDate"
                [required]="true" [ngModelOptions]="{standalone: true}"></datetime>
              <span *ngIf="sdaCreateDate.invalid && (showErrors || sdaCreateDate.dirty)" class="error">Create Date is required.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="sdaAlertCode">Alert Code: <span class="req">*</span></label>
            <div class="col-sm-8">
              <select #sdaAlertCode="ngModel" class="form-control" name="sdaAlertCode" id="sdaAlertCode" required [(ngModel)]="alert.alertCode">
                <option value="">Select Alert Code</option>
                <option value="A">A - Significant Structure Defect</option>
                <option value="B">B - Significant Structure Corrosion</option>
                <option value="C">C - Ground Damage</option>
                <option value="D">Other - Bird Strike,Lightning Strike, etc</option>
            </select>
              <span *ngIf="sdaAlertCode.invalid && (showErrors || sdaAlertCode.dirty)" class="error">Alert Code is required.</span>
            </div>

          </div>
        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="sdaId">SDA ID:</label>
            <div class="col-sm-8">

              <span *ngIf="alert.sdaId">{{alert.sdaId}}</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="ATACode1">ATA Code 1: <span class="req">*</span></label>
            <div class="col-sm-8">
              <select #ataCode1="ngModel" class="form-control" name="ATACode1" id="ATACode1" required [(ngModel)]="alert.ataCode1" (change)='getAlertCode2s($event.target.value)'>
            <option value="">Select ATA Code 1</option>
            <option *ngFor="let ac of ataCodes$ | async" [value]="ac.Code">{{ac.Code}} - {{ac.Name}}</option>
          </select>
              <span *ngIf="ataCode1.invalid && (showErrors || ataCode1.dirty)" class="error">ATA Code 1 is required.</span>
            </div>

          </div>
        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="station">Station: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" #station="ngModel" class="form-control" name="station" id="station" maxlength="3" required placeholder=""
                [(ngModel)]="alert.station">
              <span *ngIf="station.invalid && (showErrors || station.dirty)" class="error">Station is required.</span>
            </div>
          </div>


        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="ATACode2">ATA Code 2: <span class="req">*</span></label>
            <div class="col-sm-8">
              <select #ataCode2="ngModel" class="form-control" name="ATACode2" id="ATACode2" required [(ngModel)]="alert.ataCode2">
            <option value="">Select ATA Code 2</option>
            <option *ngFor="let ac of ataCode2s$ | async" [value]="ac.Code">{{ac.Code}} {{ac.Name}}</option>
          </select>
              <span *ngIf="ataCode2.invalid && (showErrors || ataCode2.dirty)" class="error">ATA Code 2 is required.</span>
            </div>

          </div>
        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="department">Department: <span class="req">*</span></label>
            <div class="col-sm-8">
              <select #department="ngModel" class="form-control" name="department" id="department" required [(ngModel)]="alert.department">
            <option value="">Select Department</option>
            <option value="engineering">Engineering</option>
            <option value="inspection">Inspection</option>
            <option value="other">Other</option>
          </select>
              <span *ngIf="department.invalid && (showErrors || department.dirty)" class="error">Department is required.</span>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <h4>Defect discovered during:(Check appropriate box and describe)</h4>
          <label class="radio-inline"><input #scheduledMaintenance="ngModel" [value]="false" required type="radio" name="defectDiscovered" [(ngModel)]="alert.scheduledMaintenance">Unscheduled Maintenance <br/>(RON,Pilot Report etc.) </label>
          <label class="radio-inline"><input #scheduledMaintenance="ngModel" [value]="true" required type="radio" name="defectDiscovered" [(ngModel)]="alert.scheduledMaintenance">Scheduled Maintenance </label>
          <div *ngIf="scheduledMaintenance.invalid && (showErrors || scheduledMaintenance.dirty)" class="error">Defect Discovered is required.</div>
        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="airCraftNo">Aircraft #: <span class="req">*</span></label>
            <div class="col-sm-8">
              <!--<div class="input-group">
                <input type="text" #airCraftNo="ngModel" class="form-control" name="airCraftNo" id="airCraftNo" required 
                  [(ngModel)]="alert.aircraftNo"
                 [typeahead]="noseNumbers$" 
                  (typeaheadOnSelect)="noseNumberOnSelect($event)" 
                  (change)="populateAircraftInfo($event.target.value)"
                  >
                  
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-refresh" [class.glyphicon-refresh-animate]="loading$|async" (click)="populateAircraftInfo(alert.aircraftNo)"></span>
                </div>
              </div>-->
              <input type="text" #airCraftNo="ngModel" class="form-control" name="airCraftNo" id="airCraftNo" required 
                  [(ngModel)]="alert.aircraftNo"
                  >
              <span *ngIf="airCraftNo.invalid && (showErrors || airCraftNo.dirty)" class="error">Aircraft # is required.</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" *ngIf="alert.scheduledMaintenance === false">
            <label class="col-sm-4 control-label" for="unscheduledDescription">&nbsp;</label>
            <div class="col-sm-8">
              <input type="text" #unscheduledDescription="ngModel" class="form-control" name="unscheduledDescription" id="unscheduledDescription"
                [required]="alert.scheduledMaintenance === false" placeholder="" [(ngModel)]="alert.unscheduledDescription">
              <span *ngIf="unscheduledDescription.invalid && (showErrors || unscheduledDescription.dirty)" class="error">Unscheduled description is required.</span>
              <span *ngIf="unscheduledFieldsInvalid && alert.scheduledMaintenance === false" class="error">Either Non-Routine # or MIC # is required.</span>
            </div>
          </div>
          <div class="form-group" *ngIf="alert.scheduledMaintenance">
            <label class="col-sm-4 control-label" for="nonRoutineNo">Check Type:</label>
            <div class="col-sm-8">
              
              <input type="text" #checkType="ngModel" class="form-control" name="checkType" id="checkType" [required]="alert.scheduledMaintenance" 
                  [(ngModel)]="alert.checkType"
                 [typeahead]="fleetCheckTypes$"
                 [typeaheadOptionField]="'Name'"
                 [typeaheadMinLength] ="0"
                  >
              <span *ngIf="checkType.invalid && (showErrors || checkType.dirty)" class="error">Check Type is required.</span>
            </div>
          </div>

        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="manufacturer">Aircraft Manufacturer: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" #manufacturer="ngModel" class="form-control" name="manufacturer" id="manufacturer" required placeholder=""
                [(ngModel)]="alert.manufacturer">
              <span *ngIf="manufacturer.invalid && (showErrors || manufacturer.dirty)" class="error">Manufacturer is required.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" *ngIf="alert.scheduledMaintenance === false">
            <label class="col-sm-4 control-label" for="nonRoutineNo">Non-Routine #:</label>
            <div class="col-sm-8">
              <input type="text" #nonRoutineNo="ngModel" class="form-control" name="nonRoutineNo" id="nonRoutineNo" required placeholder=""
                [(ngModel)]="alert.nonRoutineNo">

            </div>
          </div>
          
          <h5 *ngIf="alert.scheduledMaintenance">Generated By Document:</h5>
          <span *ngIf="scheduledFieldsInvalid && alert.scheduledMaintenance" class="error">Either Routine # or Non-Routine #  is required.</span>
          <div class="form-group" *ngIf="alert.scheduledMaintenance">
            <label class="col-sm-4 control-label" for="routineNo">Routine #:</label>
            <div class="col-sm-8">
              <input type="text" #routineNo="ngModel" class="form-control" name="routineNo" id="routineNo" required placeholder="" [(ngModel)]="alert.routineNo">

            </div>
          </div>


        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="model">Aircraft Model/Series: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" #model="ngModel" class="form-control" name="model" id="model" required placeholder="" [(ngModel)]="alert.model">
              <span *ngIf="model.invalid && (showErrors || model.dirty)" class="error">Aircraft Model/Series is required.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" *ngIf="alert.scheduledMaintenance === false">
            <label class="col-sm-4 control-label" for="micNo">MIC #:</label>
            <div class="col-sm-8">
              <input type="text" #micNo="ngModel" class="form-control" name="micNo" id="micNo" required placeholder="" [(ngModel)]="alert.micNo">

            </div>
          </div>
          <div class="form-group" *ngIf="alert.scheduledMaintenance">
            <label class="col-sm-4 control-label" for="nonRoutineNo">Non-Routine #:</label>
            <div class="col-sm-8">
              <input type="text" #nonRoutineNo="ngModel" class="form-control" name="nonRoutineNo" id="nonRoutineNo" required placeholder=""
                [(ngModel)]="alert.nonRoutineNo">
            </div>
          </div>
        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="serialNo">Serial #: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" #serialNo="ngModel" class="form-control" name="serialNo" id="serialNo" required placeholder="" [(ngModel)]="alert.serialNo">
              <span *ngIf="serialNo.invalid && (showErrors || serialNo.dirty)" class="error">Serial # is required.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="totalShipTime">Total Ship Time: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" #totalShipTime="ngModel" class="form-control" name="totalShipTime" id="totalShipTime" required placeholder=""
                [(ngModel)]="alert.totalShipTime">
              <span *ngIf="totalShipTime.invalid && (showErrors || totalShipTime.dirty)" class="error">Total Ship Time is required.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="cycles">Cycles: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" #cycles="ngModel" class="form-control" name="cycles" id="cycles" required placeholder="" [(ngModel)]="alert.cycles">
              <span *ngIf="cycles.invalid && (showErrors || cycles.dirty)" class="error">Cycles is required.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="fleet">Fleet: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" #fleet="ngModel" class="form-control" name="fleet" id="fleet" 
                      required placeholder="" [(ngModel)]="alert.fleet"
                      (change)="populateCheckTypes()"
                      >
              <span *ngIf="fleet.invalid && (showErrors || fleet.dirty)" class="error">Fleet is required.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-xs-3 pull-right">
        <button type="submit" class="btn">Validate</button>
      </div>
    </div>
  </div>
</form>