<h2>Create new SDA</h2>
<form #form="ngForm" novalidate (submit)="saveAlert(form)">
  <div class="panel panel-default">
    <div class="panel-heading">General Information</div>
    <div class="panel-body">
      <div class="row form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="sdrNumber">SDR Number:</label>
            <div class="contrls col-sm-8">
              <input #sdrNumber="ngModel"  type="text" class="form-control" tabindex="1" name="sdrNumber" id="sdrNumber" placeholder="" [(ngModel)]="alert.sdrNumber" maxlength="20" pattern="[a-zA-Z0-9]+" >
              <span *ngIf="sdrNumber.invalid && (showErrors || (sdrNumber.dirty || sdrNumber.touched))" class="error">SDR Number must be alphanumeric.</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label>
        <aac-checkbox [checkboxState]="lineMaintenance" tabindex="2" (onChangeNotify)="alert.lineMaintenance=lineMaintenance.isChecked"></aac-checkbox>
            Line Maintenance
        </label>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" tabindex='3'>Create Date: <span class="req">*</span></label>
            <div class="col-sm-8">
              <datetime [timepicker]="false" #sdaCreateDate="ngModel" name="sdaCreateDate" id="sdaCreateDate" [(ngModel)]="alert.createDate"
                [required]="true" [datepicker]="{ icon: 'glyphicon glyphicon-calendar' }" ></datetime>
              <span *ngIf="sdaCreateDate.invalid && (showErrors || (sdaCreateDate.dirty || sdaCreateDate.touched))" class="error">Create Date is required.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="sdaAlertCode">Alert Code: <span class="req">*</span></label>
            <div class="col-sm-8">
              <select #sdaAlertCode="ngModel" tabindex='13' class="form-control" name="sdaAlertCode" id="sdaAlertCode" required [(ngModel)]="alert.alertCode">
                <option value="">Select Alert Code</option>
                <option value="A">A - Significant Structure Defect</option>
                <option value="B">B - Significant Structure Corrosion</option>
                <option value="C">C - Ground Damage</option>
                <option value="D">Other - Bird Strike,Lightning Strike, etc</option>
            </select>
              <span *ngIf="sdaAlertCode.invalid && (showErrors || (sdaAlertCode.dirty || sdaAlertCode.touched))" class="error">Alert Code is required.</span>
            </div>

          </div>
        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="sdaId">SDA ID:</label>
            <div class="col-sm-8">

              <!--<span *ngIf="alert.sdaId">{{alert.sdaId}}</span>-->
              <input #sdaId="ngModel" type="text" class="form-control" name="sdaId" id="sdaId" readonly placeholder="" [(ngModel)]="alert.sdaId">
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="ATACode1">ATA Code 1: <span class="req">*</span></label>
            <div class="col-sm-8">
              <select #ataCode1="ngModel" class="form-control" tabindex='14' name="ATACode1" id="ATACode1" required [(ngModel)]="alert.ataCode1" (change)='getAlertCode2s($event.target.value)'>
            <option value="">Select ATA Code 1</option>
            <option *ngFor="let ac of ataCodes$ | async" [value]="ac.Code">{{ac.Code}} - {{ac.Name}}</option>
          </select>
              <span *ngIf="ataCode1.invalid && (showErrors || (ataCode1.dirty || ataCode1.touched))" class="error">ATA Code 1 is required.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="station">Station: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" #station="ngModel" tabindex='4' (input)="station.value=$event.target.value.toUpperCase()"  class="form-control" name="station" id="station" pattern="[a-zA-Z]*" minlength="3" maxlength="3" required placeholder=""
                [(ngModel)]="alert.station">
              <span *ngIf="station.invalid && (showErrors || (station.dirty || station.touched))" class="error">Station is required and must be at least 3 alphabet characters long.</span>
              <!--<span *ngIf="(station.invalid && station.errors && station.errors.minlength) && (showErrors || (station.dirty || station.touched))" class="error">Station must be at least 3 characters long.</span>-->
            </div>
          </div>


        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="ATACode2">ATA Code 2: <span class="req">*</span></label>
            <div class="col-sm-8">
              <select #ataCode2="ngModel" class="form-control" tabindex='15' name="ATACode2" id="ATACode2" required [(ngModel)]="alert.ataCode2">
            <option value="">Select ATA Code 2</option>
            <option *ngFor="let ac of ataCode2s$ | async" [value]="ac.Code">{{ac.Code}} {{ac.Name}}</option>
          </select>
              <span *ngIf="ataCode2.invalid && (showErrors || (ataCode2.dirty || ataCode2.touched))" class="error">ATA Code 2 is required.</span>
            </div>

          </div>
        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="department">Department: <span class="req">*</span></label>
            <div class="col-sm-8">
              <select #department="ngModel" class="form-control" tabindex='5' name="department" id="department" required [(ngModel)]="alert.department">
            <option value="">Select Department</option>
            <option value="engineering">Engineering</option>
            <option value="inspection">Inspection</option>
            <option value="other">Other</option>
          </select>
              <span *ngIf="department.invalid && (showErrors || (department.dirty || department.touched))" class="error">Department is required.</span>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <h4>Defect discovered during:(Check appropriate box and describe)</h4>

          <label class="radio-inline">
            <input #scheduledMaintenance="ngModel" tabindex='14' [value]="false" 
                  required type="radio" name="defectDiscovered" [(ngModel)]="alert.scheduledMaintenance">
                  Unscheduled Maintenance
                  </label>
          <label class="radio-inline"><input #scheduledMaintenance="ngModel" tabindex='14' [value]="true" required type="radio" name="defectDiscovered" [(ngModel)]="alert.scheduledMaintenance">Scheduled Maintenance </label>
          
          
          <div *ngIf="scheduledMaintenance.invalid && (showErrors || (scheduledMaintenance.dirty || scheduledMaintenance.touched))" class="error">Defect Discovered is required.</div>
        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="airCraftNo">Aircraft #: <span class="req">*</span></label>
            <div class="col-sm-8">
              <!--<div class="input-group">
                <input type="text" #airCraftNo="ngModel" class="form-control" name="airCraftNo" id="airCraftNo" required 
                  [(ngModel)]="alert.aircraftNo"
                 [typeahead]="noseNumbers$" 
                  (typeaheadOnSelect)="noseNumberOnSelect($event)" 
                  (change)="populateAircraftInfo($event.target.value)"
                  >
                  
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-refresh" [class.glyphicon-refresh-animate]="loading$|async" (click)="populateAircraftInfo(alert.aircraftNo)"></span>
                </div>
              </div>-->
              <input type="text" #airCraftNo="ngModel" class="form-control" tabindex='6' name="airCraftNo" maxlength="5" pattern="[a-zA-Z0-9]*" id="airCraftNo" required 
                  [(ngModel)]="alert.aircraftNo"
                  >
              <span *ngIf="airCraftNo.invalid && (showErrors || (airCraftNo.dirty || airCraftNo.touched))" class="error">Aircraft # is required  .</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" [hidden]="alert.scheduledMaintenance === true || alert.scheduledMaintenance == null">
            <label class="col-sm-4 control-label" for="unscheduledDescription">Description:<span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" #unscheduledDescription="ngModel" tabindex='15' class="form-control" name="unscheduledDescription" id="unscheduledDescription"
                [required]="alert.scheduledMaintenance === false" placeholder="" [(ngModel)]="alert.unscheduledDescription">
              (RON,Pilot Report etc.)
              <div *ngIf="unscheduledDescription.invalid && (showErrors || (unscheduledDescription.dirty ||unscheduledDescription.touched))" class="error">Description is required for unscheduled maintenance.</div>
              
            </div>
          </div>
          <div class="form-group" [hidden]="alert.scheduledMaintenance===false || alert.scheduledMaintenance == null">
            <label class="col-sm-4 control-label" for="checkType">Check Type:<span class="req">*</span></label>
            <div class="col-sm-8">
              <select #checkType="ngModel" class="form-control" tabindex='20' name="checkType" id="checkType" required [(ngModel)]="alert.checkType">
                  <option value="">Select Check Type</option>
                  <!--<option *ngFor="let fc of fleetCheckTypes$ | async" [value]="fc.Name">{{fc.Name}}</option>-->
                  <option>A Check</option>
                  <option>B Check</option>
                  <option>C Check</option>
              </select>

              <!--<input type="text" #checkType="ngModel" class="form-control" name="checkType" id="checkType" [required]="alert.scheduledMaintenance" 
                  [(ngModel)]="alert.checkType"
                 [typeahead]="fleetCheckTypes$"
                 [typeaheadOptionField]="'Name'"
                 [typeaheadMinLength] ="0"
                  >-->
              <span *ngIf="checkType.invalid && (showErrors || (checkType.dirty || checkType.touched))" class="error">Check Type is required.</span>
            </div>
          </div>

        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="manufacturer">Aircraft Manufacturer: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" #manufacturer="ngModel" tabindex='7' class="form-control" name="manufacturer"  maxlength="100"  id="manufacturer"   required placeholder=""
                [(ngModel)]="alert.manufacturer">
              <span *ngIf="manufacturer.invalid && (showErrors || (manufacturer.dirty || manufacturer.touched))" class="error">Manufacturer is required.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" [hidden]="alert.scheduledMaintenance === true || alert.scheduledMaintenance == null">
            <label class="col-sm-4 control-label" for="unschNonRoutineNo">Non-Routine #:</label>
            <div class="col-sm-8">
              <input type="text" #unschNonRoutineNo="ngModel"  maxlength="50" class="form-control" tabindex='16' name="unschNonRoutineNo" id="unschNonRoutineNo" [required]="alert.scheduledMaintenance === false  && alert.micNo.trim()==''" placeholder=""
                [(ngModel)]="alert.nonRoutineNo">
            </div>
          </div>

          
          
          <h5 *ngIf="alert.scheduledMaintenance">Generated By Document:</h5>
          
          <div class="form-group" [hidden]="alert.scheduledMaintenance===false || alert.scheduledMaintenance == null">
            <label class="col-sm-4 control-label" for="routineNo">Routine #:</label>
            <div class="col-sm-8">
              <input type="text" #routineNo="ngModel" maxlength="50" class="form-control" tabindex='22' name="routineNo" id="routineNo" [required]="alert.scheduledMaintenance  && alert.nonRoutineNo.trim()==''" placeholder="" [(ngModel)]="alert.routineNo">

            </div>
          </div>


        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="model">Aircraft Model/Series: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" #model="ngModel"  maxlength="15" tabindex='8' class="form-control" name="model" id="model" required placeholder="" [(ngModel)]="alert.model">
              <span *ngIf="model.invalid && (showErrors || (model.dirty || model.touched))" class="error">Aircraft Model/Series is required.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" [hidden]="alert.scheduledMaintenance === true || alert.scheduledMaintenance == null">
            <label class="col-sm-4 control-label" for="micNo">MIC #:</label>
            <div class="col-sm-8">
              <input type="text" #micNo="ngModel" maxlength="50" class="form-control" name="micNo" tabindex='21' id="micNo" [required]="alert.scheduledMaintenance === false && alert.nonRoutineNo.trim()==''" placeholder="" [(ngModel)]="alert.micNo">
<span *ngIf="alert.scheduledMaintenance === false && ((unschNonRoutineNo.invalid && (showErrors || (unschNonRoutineNo.dirty || unschNonRoutineNo.touched))) || (micNo.invalid && (showErrors || (micNo.dirty || micNo.touched))))" class="error">Either Non-Routine # or MIC # is required.</span>
            </div>
            
          </div>

          
          <div class="form-group" [hidden]="alert.scheduledMaintenance===false || alert.scheduledMaintenance == null">
            <label class="col-sm-4 control-label" for="nonroutineNo">Non-Routine #:</label>
            <div class="col-sm-8">
              <input type="text" #nonroutineNo="ngModel" maxlength="50" class="form-control" tabindex='22' name="nonroutineNo" id="nonroutineNo" [required]="alert.scheduledMaintenance  && alert.nonRoutineNo.trim()==''" placeholder="" [(ngModel)]="alert.nonroutineNo">

            </div>
          </div>
          
        </div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="serialNo">Serial #: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" #serialNo="ngModel" tabindex='9' maxlength="10" class="form-control" name="serialNo" id="serialNo" required placeholder="" [(ngModel)]="alert.serialNo">
              <span *ngIf="serialNo.invalid && (showErrors || (serialNo.dirty || serialNo.touched))" class="error">Serial # is required.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="totalShipTime">Total Ship Time: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" pattern="[0-9]*" maxlength="25" #totalShipTime="ngModel" tabindex='10' class="form-control" name="totalShipTime" id="totalShipTime"   required placeholder=""
                [(ngModel)]="alert.totalShipTime">
              <span *ngIf="totalShipTime.invalid && (showErrors || (totalShipTime.dirty || totalShipTime.touched))" class="error">Total Ship Time is required and .</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="cycles">Cycles: <span class="req">*</span></label>
            <div class="col-sm-8">
              <input type="text" pattern="[0-9]*" maxlength="25"  #cycles="ngModel" tabindex='11' class="form-control" name="cycles" id="cycles" required placeholder="" [(ngModel)]="alert.cycles">
              <span *ngIf="cycles.invalid && (showErrors || (cycles.dirty || cycles.touched))" class="error">Cycles is required.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
      <div class="row  form-group">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-4 control-label" for="fleet">Fleet: <span class="req">*</span></label>
            <div class="col-sm-8">
              <!--<input type="text" #fleet="ngModel" tabindex='10' class="form-control" name="fleet" id="fleet" 
                      required placeholder="" [(ngModel)]="alert.fleet"
                      (change)="populateCheckTypes()"
                      >-->
              <input type="text" #fleet="ngModel" tabindex='12' class="form-control" name="fleet" id="fleet"  pattern="[a-zA-Z]*" maxlength="20"
                      required placeholder="" [(ngModel)]="alert.fleet"
                      >
              <span *ngIf="fleet.invalid && (showErrors || (fleet.dirty || fleet.touched))" class="error">Fleet is required  and must be alphabet characters long.</span>
            </div>

          </div>
        </div>
        <div class="col-md-6">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-xs-3 pull-right">
        <button type="submit" class="btn" tabindex="20">Validate</button>
      </div>
    </div>
  </div>
</form>