
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */