<div class="panel-body" [formGroup]='generalSectionFormGroup'>
  <div class="row">
    <div class="col-sm-6">
      <aac-field-container label="SDR Number:" [message]="displayMessage.sdrNumber">
        <input type="text" tabindex="1" class="form-control" formControlName="sdrNumber" >
      </aac-field-container>

    </div>
    <div class="col-sm-6">
      <aac-checkbox-container label="Line Maintenance">
        <input type="checkbox" tabindex="2" formControlName="lineMaintenance"/>
      </aac-checkbox-container>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <aac-field-container label="Create Date:" [attr.for]="sdaCreateDate.idDatePicker" [message]="displayMessage.createDate" required="true">
        <datetime [timepicker]="false" #sdaCreateDate [readonly]="disableCreateDate?'':null" [tabindex]='3' formControlName="createDate" [datepicker]="{ icon: 'glyphicon glyphicon-calendar',autoclose:true,enableOnReadonly:false,orientation:'bottom'}"></datetime>
      </aac-field-container>

    </div>
    <div class="col-sm-6">
      <aac-field-container required="true"
                           label="Alert Code:"
                           [message]="displayMessage.alertCode">
        <select tabindex="14" class="form-control" formControlName="alertCode">
          <option value="">Select Alert Code</option>
          <option *ngFor="let ac of alertCodes$ | async" [value]="ac.id">{{ac.description}}</option>
        </select>
      </aac-field-container>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <aac-field-container label="SDA ID:">
        <input class="form-control" formControlName="sdaId" >
      </aac-field-container>

      <div>
        <ng-template #customItemTemplate let-model="item" let-index="index">
          <span><b>{{model.stationIATACode}}</b>:{{model.stationDescription}}</span>
        </ng-template>

        <aac-field-container required="true" label="Station:" [message]="displayMessage.station">
          <input type="text" tabindex='4' autocomplete="off" class="form-control" maxlength="3" formControlName="station" [typeahead]="stations$"
                 typeaheadOptionField="stationIATACode" [typeaheadItemTemplate]="customItemTemplate"
                 typeaheadOptionsLimit="20" typeaheadMinLength="1">
        </aac-field-container>
      </div>
    </div>
    <div class="col-sm-6">
      <aa-ata-code [parent]="generalSectionFormGroup" [sda]="sda" [errorMessages]="displayMessage" [ATACodes]="ATACodes$ | async">
      </aa-ata-code>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <aac-field-container required="true" label="Department:" [message]="displayMessage.department">
        <select tabindex="5" class="form-control" formControlName="department" >
          <option value="">Select Department</option>
          <option *ngFor="let d of departments$ | async" [value]="d.id">{{d.description}}</option>
        </select>
      </aac-field-container>

      <!--Aircraft Info Section-->
      <aa-aircraft-info-section-form [parent]="generalSectionFormGroup"
                                     [sda]="sda"
                                      [errorMessages]="displayMessage"
                                      [aircraftInfo]="aircraftInfo$ | async"
                                      (onNoseNumberChange)="populateAircraftInfo($event)"></aa-aircraft-info-section-form>
    </div>
    <div class="col-sm-6">
      <aa-defect-discovered-during-section-form [parent]="generalSectionFormGroup"
                                                [sda]="sda"
                                                [errorMessages]="displayMessage"></aa-defect-discovered-during-section-form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <aac-field-container  required="true" label="Originator:" [message]="displayMessage.originator || displayMessage.originatorBadgeNo">
        <div >
          <div class="col-sm-4 padding-0">
            <input type="text" tabindex='13' #originatorBadgeNo  class="form-control" placeholder="Employee ID" formControlName="originatorBadgeNo"  (change)="confirmEmployeeId($event.target.value)">
           </div>
           <div class="col-sm-1 padding-0">_</div>
           <div class="col-sm-7 padding-0">

            <input type="text" tabindex='13' #originator class="form-control" placeholder="Last Name, First Name" formControlName="originator"   (change)="confirmEmployeeName($event.target.value)"  >
          </div>
        </div>
      </aac-field-container>
    </div>
  </div>
</div>
