<div class="row form-group" [class.has-error]="message">
  <label class="col-sm-4 control-label" [attr.for]="identifier">{{label}}<span class="req" *ngIf="_required">*</span></label>
  <div class="col-sm-8">
    <input type="text"
          [value]="data"
          (blur)="touch()"
          (change)="onChange($event)"
          (keyup)="onChange($event)"
          [attr.tabindex]='tindex' class="form-control" [attr.id]="identifier">
    <span *ngIf="message" class="help-block">{{message}}</span>
  </div>

</div>
