<div [formGroup]="causeOfDamageGroup">
  <div class="row"  >
    <div class="col-md-4">
      <aac-checkbox label="Environment" tabindex="43"name="causeOfDamage" formControlName="environment" ></aac-checkbox>
      </div>
    <div class="col-md-4">
      <aac-checkbox label="Lav/Galley Spill" tabindex="44"   formControlName="gallySpill" ></aac-checkbox>
    </div>
    <div class="col-md-4">
      <aac-checkbox label="Blocked Drain" tabindex="45" formControlName="blockedDrain"></aac-checkbox>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <aac-checkbox label="Chemical Spill" tabindex="46" formControlName="chemicalSpill"></aac-checkbox>
    </div>
    <div class="col-md-4">
      <aac-checkbox label="Wet Insulation Blanket" tabindex="47" formControlName="wetinsulationBlanket"></aac-checkbox>
    </div>
    <div class="col-md-4">
      <aac-checkbox label="Missing/Deteriorated Floorboard Tape" tabindex="48" formControlName="missingFloorBoardTape"></aac-checkbox>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <aac-checkbox label="Correct Harware Not Installed" tabindex="49" formControlName="hardwareNotInstalled" ></aac-checkbox>
    </div>
    <div class="col-md-4">
      <aac-checkbox label="Deteriorated/Poor Sealing Practices" tabindex="50"  formControlName="poorsealingPractices"></aac-checkbox>
    </div>
    <div class="col-md-4">
      <aac-checkbox label="Missing Corrosion Inhibitor" tabindex="51" formControlName="missingCorrosionInhibitor"></aac-checkbox>
    </div>

  </div>
  <br />
  <div class="row">

    <div class="col-md-4">
      <aac-checkbox label="Other" tabindex="52" formControlName="damageOther" [message]="displayMessage.damageOther"></aac-checkbox>
      <div>
        <span *ngIf="displayMessage.message &&
                  (causeOfDamageGroup.get( 'damageOther').touched ||
                   causeOfDamageGroup.get('damageOther').dirty) "
              class="error">{{displayMessage.message}}</span>
      </div> 
    </div>
    <div class="col-md-4">
      <div [hidden]="causeOfDamageGroup.get('damageOther').value !=true">
        <label class="col-sm-7 control-label" for="damageDescription">Description:<span class="req">*</span></label>
        <textarea type="text" tabindex='53' class="form-control" id="damageDescription" name="damageDescription" formControlName="damageDescription">
      </textarea>
        
        <span *ngIf="displayMessage.damageDescription"
              class="error">{{displayMessage.damageDescription    }}</span>
      </div>
    </div>

  </div>
  <br/>

</div>

<!--<div class="row form-group" [class.has-error]="displayMessage.description">
       <label class="col-sm-3 control-label" for="description">Description: <span class="req">*</span></label>
       <div class="col-sm-6">
         <textarea type="text" tabindex='40' class="form-control" id="description" formControlName="damageOther"></textarea>
         <span *ngIf="displayMessage.description" class="error">{{displayMessage.description}}</span>
       </div>
     </div>-->
