/* You can add global styles to this file, and also import other style files */

//IE hide IE default dropdown expand arrow since our select uses the custom styling
select::-ms-expand {
    display: none;
}
select[multiple] {
  background:none;
  padding-right:0px;
}
div.dt-bootstrap select.input-sm {
  line-height: 12px;
}
.ng2-datetime input.form-control{
    font-size:14px !important;
}
ul.dropdown-menu {
  width: auto !important;
}
input {
    font-size: 14px !important;
}
span.req {
    display: inline;
    color: red !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
span.error, div.error{
    color:#a94442;

}

.panel-default.search-panel{
  margin-bottom:10px;
}

