<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
    <modules xdt:Transform="Replace"> <!--no dynatrace on dev environment-->
      <add name="CASiteMinderWebagentModule" preCondition="integratedMode,bitness64" />
      <add name="CASiteMinderWebagentModule-32" preCondition="integratedMode,bitness32" />
      <!--<add name="Dynatrace IIS Webserver Agent 7.0 (x64)" preCondition="bitness64" />
      <add name="Dynatrace IIS Webserver Agent 7.0" preCondition="bitness32" />-->
    </modules>
	</system.webServer>
	</configuration>
