<div class="row  form-group">
  <div class="col-md-2">
    <aac-checkbox label="Open" tabindex="66"></aac-checkbox>
  </div>
  <div class="col-md-2">
    <aac-checkbox label="Complete" tabindex="67"></aac-checkbox>
  </div>
  <div class="col-md-2">
    <aac-checkbox label="Audited" tabindex="68"></aac-checkbox>
  </div>
  <div class="col-md-2">
    <aac-checkbox label="Rejected" tabindex="69"></aac-checkbox>
  </div>
  <div class="col-md-2">
    <aac-checkbox label="Closed" tabindex="70"></aac-checkbox>
  </div>
  <div class="col-md-2">
    <aac-checkbox label="Deleted" tabindex="71"></aac-checkbox>
  </div>
</div>




