<div class="row  form-group">
  <div class="col-md-2">
    <aac-checkbox-container label="Open">
      <input type="checkbox" tabindex="66" />
    </aac-checkbox-container>


  </div>
  <div class="col-md-2">
    <aac-checkbox-container label="Complete">
      <input type="checkbox" tabindex="67" />
    </aac-checkbox-container>

  </div>
  <div class="col-md-2">
    <aac-checkbox-container label="Audited">
      <input type="checkbox" tabindex="68" />
    </aac-checkbox-container>
  </div>
  <div class="col-md-2">
    <aac-checkbox-container label="Rejected">
      <input type="checkbox" tabindex="69" />
    </aac-checkbox-container>
  </div>
  <div class="col-md-2">
    <aac-checkbox-container label="Closed">
      <input type="checkbox" tabindex="70" />
    </aac-checkbox-container>
  </div>
  <div class="col-md-2">
    <aac-checkbox-container label="Deleted">
      <input type="checkbox" tabindex="71" />
    </aac-checkbox-container>
  </div>
</div>




