<div class="row  form-group">
  <div class="col-md-2">
    <aac-checkbox label="Open" tabindex="30"></aac-checkbox>
  </div>
  <div class="col-md-2">
    <aac-checkbox label="Complete" tabindex="31"></aac-checkbox>
  </div>
  <div class="col-md-2">
    <aac-checkbox label="Audited" tabindex="32"></aac-checkbox>
  </div>
  <div class="col-md-2">
    <aac-checkbox label="Rejected" tabindex="33"></aac-checkbox>
  </div>
  <div class="col-md-2">
    <aac-checkbox label="Closed" tabindex="34"></aac-checkbox>
  </div>
  <div class="col-md-2">
    <aac-checkbox label="Deleted" tabindex="35"></aac-checkbox>
  </div>
</div>




