<div class="row" [formGroup]="partForm">
  <div class="col-md-4">
    <aac-field-container label="MFG Part #:">
      <input type="text" tabindex='93' maxlength="50" class="form-control"  formControlName="manufacturerPartNo">
    </aac-field-container>
  </div>
  <div class="col-md-4">
    <aac-field-container label="MFG Serial #:">
      <input type="text" tabindex='94' maxlength="50" class="form-control"  formControlName="manufacturerSerialNo">
    </aac-field-container>
  </div>
  <div class="col-md-4">
    <aac-field-container label="Part Defective:">
      <input type="text" tabindex='95' maxlength="50" class="form-control"  formControlName="partDefective">
    </aac-field-container>
  </div>
</div>
