<div class="row">
  <div class="col-md-4">
    <aac-field-container label="MFG Part #:">
      <input type="text" tabindex='72'maxlength="50" class="form-control">
    </aac-field-container>
  </div>
  <div class="col-md-4">
    <aac-field-container label="MFG Serial #:" >
      <input type="text" tabindex='73'maxlength="50" class="form-control">
    </aac-field-container>
  </div>
  <div class="col-md-4">
    <aac-field-container label="Part Defective:">
      <input type="text" tabindex='74' maxlength="50" class="form-control">
    </aac-field-container>
  </div>
  

  </div>
