<div [formGroup]="defectDiscoveredDuringSectionFormGroup">
  <div class="row form-group" [class.has-error]="displayMessage.defectDiscoveredDuring">
    <h4>Defect Discovered during:(Check appropriate box and describe)<span class="req">*</span></h4>
    <aac-radio id="unscheduledMaintenance" name="defectDiscoveredDuring" label="Unscheduled Maintenance" value="0" tabindex="17" formControlName="defectDiscoveredDuring" ></aac-radio>
    <aac-radio id="scheduledMaintenance" name="defectDiscoveredDuring" label="Scheduled Maintenance" value="1" tabindex="17" formControlName="defectDiscoveredDuring" ></aac-radio>
    <div *ngIf="displayMessage.defectDiscoveredDuring" class="error">{{displayMessage.defectDiscoveredDuring}}</div>
  </div>
  <app-unscheduled-maintenance-section
    [parent]="defectDiscoveredDuringSectionFormGroup"
    [errorMessages]="displayMessage"
    *ngIf="defectDiscovered === '0'"
  >

  </app-unscheduled-maintenance-section>
  <app-scheduled-maintenance-section
    [parent]="defectDiscoveredDuringSectionFormGroup"
    [errorMessages]="displayMessage"
    *ngIf="defectDiscovered === '1'"
  >

  </app-scheduled-maintenance-section>
</div>