<div class="row  form-group">
  <div class="col-md-4">
    <aac-checkbox-container label="Unscheduled Maintenance">
      <input type="checkbox" tabindex="16" />
    </aac-checkbox-container>

    
  </div>
  <div class="col-md-4">
    <aac-checkbox-container label="Scheduled Maintenance">
      <input type="checkbox" tabindex="17" />
    </aac-checkbox-container>
  </div>
  <div class="col-md-4">
    <aac-checkbox-container label="Line Maintenance">
      <input type="checkbox" tabindex="18" />
    </aac-checkbox-container>
    </div>
</div>

<div class="row">
  <div class="col-md-6">
    <aac-field-container label="Unscheduled Maintenance Description:">
      <textarea tabindex='19' maxlength="250" class="form-control"></textarea>
    </aac-field-container>
  </div>
  <div class="col-md-6">
    <aac-field-container label="Routine #:">
      <input type="text" tabindex='20' class="form-control">
    </aac-field-container>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <aac-field-container label="MIC #:">
      <input type="text" tabindex='21' class="form-control">
    </aac-field-container>
  </div>
  <div class="col-md-6">
    <aac-field-container label="Non-Routine #:">
      <input type="text" tabindex='22' class="form-control">
    </aac-field-container>
  </div>
</div>


