<div class="row  form-group">
  <div class="col-md-6">
    <aac-checkbox label="Unscheduled Maintenance" tabindex="13"></aac-checkbox>
  </div>
  <div class="col-md-6">
    <aac-checkbox label="Scheduled Maintenance" tabindex="17"></aac-checkbox>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <aac-field-container label="Unscheduled Maintenance Description:">
      <input type="text" tabindex='6'>
    </aac-field-container>
  </div>
  <div class="col-md-6">
    <aac-field-container label="Routine #:">
      <input type="text" tabindex='6'>
    </aac-field-container>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <aac-field-container label="MIC #:">
      <input type="text" tabindex='6'>
    </aac-field-container>
  </div>
  <div class="col-md-6">
    <aac-field-container label="Non-Routine #:">
      <input type="text" tabindex='6'>
    </aac-field-container>
  </div>
</div>


